@model WebStore.Models.BindingCateogyFamilyChild
<nav class="navbar navbar-expand-lg navbar-sticky mg-big-screen">
    <div class="mg-search-overlay"></div>
    <div class="container align-middle">

        <div class="mg-container-logo mx-auto text-center">
            <a class="navbar-brand" href="/">
                <div class="mg-logo-wrapper pt-1">
                    <span class="mg-logo-img">
                        <i class="fos fas fo-logo"></i>
                    </span>
                    <span class="mg-logo-title text-left">
                        <i class="fos fas fo-logo-text"></i>
                    </span>
                </div>
            </a>
        </div>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="text-center" style="width:100%;">
                <div class="mg-search">
                    <ul class="navbar-nav">
                        <li class="nav-item mg-li-menu" style="margin-left:auto;">
                            <a class="nav-link mg-link-menu" href="@Url.Action("Offerts","Products", new { language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName})">
                                @Html.DisplayName(WebStore.Resources.Menu.left)
                            </a>
                        </li>
                        <li class="nav-item mg-li-menu mg-has-submenu">
                            <a class="nav-link mg-link-menu" href="javascript:void(0);">
                                @Html.DisplayName(WebStore.Resources.Menu.middle)
                            </a>
                            <ul class="mg-sub-menu-categories">
                                <div class="container">
                                    <div class="row pt-3">

                                        @foreach (var i in Model.family)
                                        {
                                            <div class="col-lg-3 mb-3">
                                                <a href="@Url.Action("s", "Categories", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName,id = @WebStore.Resources.Seo.ResourceManager.GetString(i.StrName)}, null)" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">
                                                        @WebStore.Resources.Categories.ResourceManager.GetString(i.StrName)
                                                    </h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    @foreach (var j in Model.category)
                                                    {
                                                        if (j.refFamily == i.IdFamily)
                                                        {
                                                            <li class="list-item text-left mg-menu-subcategories">
                                                                <a href="@Url.Action("s","Categories", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName, id = WebStore.Resources.Seo.ResourceManager.GetString(j.strNombre) }, null)">@WebStore.Resources.Categories.ResourceManager.GetString(j.strNombre)</a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item mg-li-menu" style="margin-right:auto;">
                            <a class="nav-link mg-link-menu" href="@Url.Action("History","User", new { language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName})">
                                Historial
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mg-search-wrapper">
                    <form class="mg-site-search" method="get" id="SearchForm">
                        <input class="form-control" type="text" name="search" placeholder="@WebStore.Resources.Placeholder.Search...">
                        <div class="mg-search-tools">
                            <span class="mg-clear-search">@WebStore.Resources.Placeholder.Clear</span>
                            <span class="mg-close-search">

                            </span>
                        </div>
                    </form>
                    <div class="mg-searchBoxWrapper" id="searchBoxWrapper">
                        <div class="mg-loadingSearch" id="loadingSearch">
                            <div class="mg-loadingSearch-loader">
                                <span class="font-weight-bold"><i class="fas fa-cog fa-2x fa-spin"></i> Cargando...</span>
                            </div>
                        </div>
                        <div class="mg-searchBoxContainer bg-white" id="searchBoxContainer">
                            <div class="mg-searchBoxContainer-item">
                                <a href="#">
                                    <i class="fab fa-sistrix"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <ul class="navbar-nav text-center">
                    <li class="nav-item mg-li-social mg-fix-bugg">
                        <a class="nav-link" href="javascript:void(0);">
                            <i class="fab fa-sistrix icon-default mg-open-search"></i>
                            <i class="fas fa-times icon-hover mg-close-search text-dark"></i>
                        </a>
                    </li>

                    <!--<li class="nav-item mg-li-social mg-lang dropdown">
                        <a class="nav-link" href="javascript:void(0);">
                            <i class="far fa-flag"></i>
                        </a>
                        <ul class="mg-toolbar-dropdown mg-lang-dropdown animated fadeIn list-unstyled">
                            <li class="px-3 pt-1 pb-2">
                                <select class="form-control form-control-sm">
                                    <option value="usd">$ USD</option>
                                    <option value="usd">€ EUR</option>
                                    <option value="usd">£ UKP</option>
                                    <option value="usd">¥ JPY</option>
                                </select>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangeCulture", "Language", new { language = "en" }, null)" class="text-dark">
                                    <i class="flag-icon">
                                        <img class="img-fluid" src="~/Content/img/bg/EN.png" alt="English">
                                    </i>&nbsp;English
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangeCulture", "Language", new { language = "es" }, null)" class="text-dark">
                                    <i class="flag-icon">
                                        <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/23/08/01/shutterstock-104644850.jpg" alt="Español">
                                    </i>&nbsp;Español
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangeCulture", "Language", new { language = "ja" }, null)" class="text-dark">
                                    <i class="flag-icon">
                                        <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/2d/d4/a7/untitled-design-153.jpg" alt="日本語">
                                    </i>&nbsp;日本語
                                </a>
                            </li>
                        </ul>
                    </li>-->

                    <li class="nav-item mg-li-social dropdown">
                        <a class="nav-link" href="@Url.Action("Quote", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)" data-toggle="tooltip" data-title="Cotizar" data-original-title="Cotizar">
                            <i class="far fa-file-alt"></i>
                            <span>@ViewBag.Quotings</span>
                            <span class="mg-navbar-compare">
                                
                                @if (Model.Notification.Quotings > 0)
                                {
                                    <span class="mg-count-label">@Model.Notification.Quotings</span>
                                }
                            </span>
                        </a>
                    </li>

                    <li class="nav-item mg-li-social mg-shopping-cart dropdown">
                        <a id="CartCount" class="nav-link" href="@Url.Action("Cart", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">
                            <i class="fas fa-shopping-cart"></i>
                            @{
                                if (Model.Notification.Cart > 0)
                                {
                                    <span class="mg-navbar-cart">
                                        <span class="mg-count-label">@Model.Notification.Cart</span>
                                    </span>
                                }
                            }

                        </a>
                        <div class="mg-toolbar-dropdown mg-cart-dropdown mg-widget-cart mg-hidden-on-mobile" id="CartItems">
                            @{ if (Model.ProductList != null)
                                {
                                    foreach (var i in Model.ProductList)
                                    {
                                        <div class="entry">
                                            <div class="entry-thumb">
                                                <a href="shop-single.html">
                                                    <img src="~/Content/img/products/@i.Code-1.jpg" alt="Product">
                                                </a>
                                            </div>
                                            <div class="entry-content">
                                                <h4 class="entry-title">
                                                    <a href="@Url.Action("Category", "Product", new { id = i.Category, idp = i.Code, language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@i.Name</a>
                                                </h4>
                                                @{
                                                    if (i.PriceOffInt > 0)
                                                    {
                                                        <span class="entry-meta"><del>@i.Price</del> <span class="text-success">@i.PercentageOff DCTO</span></span>
                                                        <span class="entry-meta">@i.Quantity x $@i.PriceOff</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="entry-meta">@i.Quantity x $@i.Price</span>
                                                    }
                                                }
                                            </div>
                                            <a class="entry-delete removeItemFromCart" data-id="@i.Code" href="javascript:void(0);">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </div>
                                        }
                                    int total = 0;
                                    foreach (var i in Model.ProductList)
                                    {
                                        total += i.TotalInt;
                                    }
                                    <div class="text-right">
                                        <p class="text-gray-dark py-2 mb-0">
                                            <span class="text-muted">Total Neto (sin IVA):</span> &nbsp;$@total.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture)
                                        </p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="pr-2 w-50">
                                            <a href="@Url.Action("Cart", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })" style="text-decoration:none;">
                                                <div class="btn btn-secondary btn-sm btn-block mb-0">@WebStore.Resources.Buttons.ShowCart</div>
                                            </a>
                                        </div>
                                        <div class="pl-2 w-50">
                                            <a href="@Url.Action("CheckOut", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })" style="text-decoration:none;">
                                                <div class="btn btn-orangered btn-sm btn-block mb-0">@WebStore.Resources.Buttons.Checkout</div>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <h5>Carrito vacío.</h5>
                                }
                            }
                        </div>
                    </li>

                    @{
                        if (HttpContext.Current.Session["email"] == null)
                        {

                            <li class="nav-item mg-li-social dropdown">
                                <a class="nav-link" href="javascript:void(0);" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-user"></i>
                                </a>
                                <div class="dropdown-menu mg-dropdown animated fadeIn" role="menu" aria-labelledby="dropdownMenuLink">
                                    <div class="col-lg-12">
                                        <div class="text-center mb-3 mt-3">
                                            <h3 style="font-weight: normal;">@WebStore.Resources.Titles.Start</h3>
                                            <hr>
                                        </div>
                                        <form id="LogIn" autocomplete="off">
                                            @Html.AntiForgeryToken()
                                            <a id="url_return" class="d-none" href="@Url.Action("Index","Home",new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})"></a>
                                            <div class=" form-group input-group">
                                                <input type="text" class="form-control" placeholder="@WebStore.Resources.Placeholder.Email" aria-label="Username"
                                                       aria-describedby="basic-addon1" autocomplete="off" name="Email" id="Email" data-val="true" data-val-required="Este campo es requerido.">
                                                <span class="input-group-addon">
                                                    <i class="fas fa-at"></i>
                                                </span>
                                            </div>

                                            <div class=" form-group input-group">
                                                <input type="password" class="form-control" placeholder="@WebStore.Resources.Placeholder.Password" aria-label="Password"
                                                       aria-describedby="basic-addon1" autocomplete="off" name="Pass" id="Pass" data-val="true" data-val-required="Este campo es requerido.">
                                                <span class="input-group-addon">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="filled-in chk-col-deep-orange" type="checkbox" id="RememberMe" name="RememberMe">
                                                    <label for="RememberMe" style="font-size:12px !important;">Mantener sesión iniciada</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-5 pull-right">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-success mg-login-btn"
                                                           value="@WebStore.Resources.Buttons.LogIn">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row pb-3">
                                                    <div class="col-lg-12">
                                                        <div class="text-center">
                                                            <a href="@Url.Action("RetrievePassword","User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})" tabindex="5" class="mg-forgot-password">
                                                                @WebStore.Resources.Buttons.RetrievePassword
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="text-center">
                                                            <a href="@Url.Action("LogUp", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)" tabindex="5" class="mg-forgot-password">
                                                                Regístrate si no tienes cuenta
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                                        </form>
                                        <h5 class="mg-section-title mg-section-title-center mb-3">
                                            <b></b>
                                            <span class="mg-section-title-main align-middle">O</span>
                                            <b></b>
                                        </h5>
                                        <div class="form-group">
                                            <div class="col-xs-5 pull-right">
                                                <button type="button" tabindex="4" class="btn mg-google" id="GoogleLogInNavbar">
                                                    <i class="fab fa-google-plus-g"></i> Google
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-5 pull-right">
                                                <button type="button" tabindex="4" class="btn mg-facebook FacebookLogIn">
                                                    <i class="fab fa-facebook-f"></i> Facebook
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item mg-li-social mg-li-menu mg-has-submenu-user dropdown">
                                <a class="nav-link user-logged-in" href="javascript:void(0);">
                                    <span class="text-uppercase">@HttpContext.Current.Session["names"].ToString().Substring(0, 1)@HttpContext.Current.Session["lastname"].ToString().Substring(0, 1)</span>
                                </a>
                                <ul class="mg-sub-menu-user animated bounceIn">
                                    <li class="mg-submenu-item-user">
                                        <div class="user-ava">
                                            @{
                                                if (Session["Provider"].ToString() == "Local")
                                                {
                                                    if (Session["imgType"] != null && Session["imgType"].ToString() == "img")
                                                    {
                                                        <div class="img-fluid user-ava-img" src="" style="background-image: url(/Content/img/avatars/img/@Session["img"].ToString());" alt="User"></div>
                                                    }
                                                    else if (Session["imgType"] != null && Session["imgType"].ToString() == "icon")
                                                    {
                                                        <img class="img-fluid" src="~/Content/img/avatars/icons/@Session["img"].ToString()" alt="User">
                                                    }
                                                    else
                                                    {
                                                        <span class="text-uppercase">@Session["names"].ToString().Substring(0, 1)@Session["lastname"].ToString().Substring(0, 1)</span>
                                                    }
                                                }
                                                else if (Session["Provider"].ToString() == "Facebook")
                                                {
                                                    <img class="img-fluid" src="https://graph.facebook.com/@Session["idFacebook"].ToString()/picture?type=normal " alt="User">
                                                }
                                                else if (Session["Provider"].ToString() == "Google")
                                                {
                                                    <img class="img-fluid" src="@Session["img"]" alt="User">
                                                }
                                                else
                                                {
                                                    <i class="far fa-user"></i>
                                                }
                                            }
                                        </div>
                                        <div class="user-info">
                                            <h6 class="user-name text-capitalize">@HttpContext.Current.Session["names"] @HttpContext.Current.Session["lastname"]</h6>
                                            <span class="text-xs text-muted">290 Reward points</span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Home", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Titles.Account</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Orders", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Titles.Orders</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("WishList", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Titles.Wishes</a>
                                    </li>
                                    <li class="mg-submenu-separator"></li>
                                    @using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm" }))
                                    { }
                                    <li>
                                        <a href="javascript:void(0);" id="Logout" data-provider="@Session["provider"]">
                                            <i class="fas fa-unlock"></i>
                                            @WebStore.Resources.Buttons.Exit
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
</nav>
