@using X.PagedList;

@using X.PagedList.Mvc;

@model IPagedList<WebStore.Models.Products>

@{
    var pages = (IPagedList)Model;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index","Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("All","Categories", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@WebStore.Resources.Titles.Categories</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

<section name="categories" class="container mb-5">
    <div class="row">
        <div class="col-lg-3">
            @{ Html.RenderAction("LeftMenu", "Menu", new { childAction = true, active = ViewBag.active, seoLocation = ViewBag.SeoLocation, minPrice = ViewBag.minPrice, maxPrice = ViewBag.maxPrice });}
        </div>
        <div class="col-lg-9">
            <div class="alert mg-alert alert-image-bg alert-dismissible fade show text-center mb-4" style="background-image: url(/Content/img/bannerCategories/@ViewBag.banner);">
                <span class="fas fa-times mg-alert-close text-white" data-dismiss="alert"></span>
                <div class="h3 text-medium text-white py-4 text-right">
                    <div class="mt-3 hidden-xl-up"></div>
                    <a class="btn btn-orangered" href="#">@WebStore.Resources.Buttons.ViewOffers</a>
                </div>
            </div>
            <div class="mg-shop-toolbar padding-bottom-1x mb-2">
                <div class="column">
                    <div class="mg-shop-sorting">
                        @ViewBag.first
                        <label for="sorting">@WebStore.Resources.Texts.Sort</label>
                        <select class="form-control" id="sort-by-button-group">
                            <option value="low" @(Request.QueryString["SortedBy"] == "low" ? "selected" : "")>@WebStore.Resources.Texts.LowHigh</option>
                            <option value="high" @(Request.QueryString["SortedBy"] == "high" ? "selected" : "")>@WebStore.Resources.Texts.HighLow</option>
                            <option value="rate" @(Request.QueryString["SortedBy"] == "rated" ? "selected" : "")>@WebStore.Resources.Texts.BestRated</option>
                            <option value="nameA" @(Request.QueryString["SortedBy"] == "nameA" || Request.QueryString["SortedBy"] == null ? "selected" : "")>A - Z</option>
                            <option value="nameZ" @(Request.QueryString["SortedBy"] == "nameZ" ? "selected" : "")>Z - A</option>
                        </select>
                        <label class="text-muted">@WebStore.Resources.Texts.Showing&nbsp;</label>
                        <select class="form-control" id="perPage">
                            <option value="15" @(ViewBag.perPage == 15 || ViewBag.perPage == 0 ? "selected" : "")>15</option>
                            <option value="25" @(ViewBag.perPage == 25 ? "selected" : "")>25</option>
                            <option value="50" @(ViewBag.perPage == 50 ? "selected" : "")>50</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <form action="" method="get" id="typeView">
                        <div class="mg-shop-view">
                            @{
                                if (!String.IsNullOrEmpty(Request.QueryString["page"]) || !String.IsNullOrWhiteSpace(Request.QueryString["page"]))
                                {
                                    <input type="hidden" name="page" value="@Request.QueryString["page"]" />
                                }
                            }
                            <input type="radio" name="View" id="grid" class="grid" value="Grid" @(ViewBag.type == "Grid" || ViewBag.type == "" ? "checked" : "")>
                            <label for="grid" class="grid-view typeview"><span></span><span></span><span></span></label>
                            <input type="radio" name="View" id="list" class="list" value="List" @(ViewBag.type == "List" ? "checked" : "")>
                            <label for="list" class="list-view typeview"><span></span><span></span><span></span></label>

                        </div>
                    </form>
                </div>
            </div>

            <div class="row grid" id="renderProducts">
                @if (ViewBag.type == "Grid" || ViewBag.type == "")
                {
                    if (Model.Any())
                    {
                        Random rand = new Random();
                        foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6 col-6 element-item">
                                <div class="mg-product-card mb-3">
                                    @if (item.intPrecioOff != null)
                                    {
                                        <span class="mg-product-badge bg-success">Oferta</span>
                                    }
                                    <div class="mg-product-wish bg-secondary" href="javascript:void(0);">
                                        <i></i>
                                    </div>
                                    <a class="mg-product-thumb" href="@Url.Action("Category","Product", new { id = WebStore.Resources.Seo.ResourceManager.GetString(item.categorySeo), idp = item.strCodigo, language=System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">
                                        <img class="img-fuild" src="~/Content/img/products/@item.strCodigo-1.jpg"
                                             alt="Producto">


                                        <div class="mg-product-card-body">
                                            @if (item.TimeOffer)
                                            {
                                                <div class="mg-product-countdown-wrapper">
                                                    @if (!ViewBag.Mobile)
                                                    {

                                                        <div class="countdown xs" style="height:30px;" data-time="@item.Time"></div>

                                                    }
                                                    <span class="mg-product-badge bg-danger">TIEMPO LIMITADO</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="mg-rating-stars stars">
                                                    @{
                                                        int stars = rand.Next(5);
                                                        for (var i = 1; i < 6; i++)
                                                        {
                                                            <i class="fas fa-star @(i <= stars ? "filled": "")"></i>
                                                        }
                                                    }
                                                </div>
                                            }
                                            <h4 class="mg-product-price">
                                                @if (item.intPrecioOff != null)
                                                {
                                                    <del>$@Html.DisplayFor(modelItem => item.intPrecio)</del><br />
                                                    <span class="price">$ @Html.DisplayFor(modelItem => item.intPrecioOff)</span>
                                                    <label class="off">@Html.DisplayFor(modelItem => item.intPrecentOff) DCTO</label>
                                                }
                                                else
                                                {
                                                    <span class="price">$@Html.DisplayFor(modelItem => item.intPrecio)</span>
                                                }

                                            </h4>
                                            <div class="mg-product-category">
                                                SKU: <span class="number">@Html.DisplayFor(modelItem => item.strCodigo)</span>
                                            </div>
                                            <h3 class="mg-product-title name text-capitalize">
                                                @Html.DisplayFor(modelItem => item.strNombre)
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h2>No hay Productos</h2><br />
                    }
                }
                else if (ViewBag.type == "List")
                {
                    if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <div class="mg-product-card mg-product-list mb-3">
                                @if (item.intPrecioOff != "0")
                                {
                                    <span class="mg-product-badge bg-success">Oferta</span>
                                }
                                <div class="mg-product-wish bg-secondary" href="javascript:void(0);">
                                    <i></i>
                                </div>
                                <a class="mg-product-thumb" href="@Url.Action("Category","Product", new { id = WebStore.Resources.Seo.ResourceManager.GetString(item.categorySeo), idp = item.strCodigo, language=System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">
                                    <img class="img-fuild" src="~/Content/img/products/@item.strCodigo-1.png"
                                         alt="Producto">
                                    <img class="img-fuild img-sec" src="~/Content/img/certificates/sec.png">
                                    <img class="img-fluid img-ds43" src="~/Content/img/certificates/ds43.png" />
                                </a>
                                <div class="mg-product-card-body">
                                    <h4 class="mg-product-price">
                                        @if (item.intPrecioOff != null)
                                        {
                                            <del>$@Html.DisplayFor(modelItem => item.intPrecio)</del><br />
                                            <span class="price">$ @Html.DisplayFor(modelItem => item.intPrecioOff)</span>
                                            <label class="off">@Html.DisplayFor(modelItem => item.intPrecentOff) OFF</label>
                                        }
                                        else
                                        {
                                            <span class="price">@Html.DisplayFor(modelItem => item.intPrecio)</span>
                                        }
                                    </h4>
                                    <div class="mg-product-category">
                                        SKU: <span class="number">@Html.DisplayFor(modelItem => item.strCodigo)</span>
                                    </div>
                                    <h3 class="mg-product-title text-capitalize name">
                                        <a href="@Url.Action("s","Categories", new { id = "Cables", idp = Html.DisplayFor(modelItem => item.strCodigo), language=System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@Html.DisplayFor(modelItem => item.strNombre)</a>
                                    </h3>
                                    <p class="text-sm text-muted hidden-xs-down my-1 mb-3">@Html.DisplayFor(modelItem => item.strNombre)</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mg-rating-stars on-list stars">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            @if (item.TimeOffer)
                                            {
                                                <div class="countdown xs" style="height:30px;" data-time="@item.Time"></div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h2>No hay Productos en oferta</h2>
                    }
                }
            </div>
            @Html.PagedListPager(Model, page => Url.Action("s",
            new { page, id = ViewContext.RouteData.Values["id"], PerPage = Request.QueryString["PerPage"], SortedBy = Request.QueryString["SortedBy"], View = Request.QueryString["View"] }),
            new X.PagedList.Mvc.Common.PagedListRenderOptionsBase() {
                Display = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                ContainerDivClasses = new string[] { "pagination-container mg-on-desktop" },
                UlElementClasses = new string[] { "pagination pagination-lg" },
                DisplayLinkToFirstPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                DisplayLinkToLastPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                LinkToFirstPageFormat = WebStore.Resources.Links.First,
                LinkToLastPageFormat = WebStore.Resources.Links.Last,
                PreviousElementClass = "mg-previous",
                LinkToPreviousPageFormat = "",
                NextElementClass = "mg-next",
                LinkToNextPageFormat = "",
                ClassToApplyToFirstListItemInPager =  "mg-first",
                ClassToApplyToLastListItemInPager = "mg-last"
            })
            @Html.PagedListPager(Model, page => Url.Action("s",
            new { page, id = ViewContext.RouteData.Values["id"], PerPage = Request.QueryString["PerPage"], SortedBy = Request.QueryString["SortedBy"], View = Request.QueryString["View"] }),
            new X.PagedList.Mvc.Common.PagedListRenderOptionsBase() {
                Display = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                ContainerDivClasses = new string[] { "pagination-container mg-on-mobile" },
                UlElementClasses = new string[] { "pagination" },
                DisplayLinkToFirstPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                DisplayLinkToLastPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                LinkToFirstPageFormat = "",
                LinkToLastPageFormat = "",
                PreviousElementClass = "mg-previous",
                LinkToPreviousPageFormat = "",
                NextElementClass = "mg-next",
                LinkToNextPageFormat = "",
                ClassToApplyToFirstListItemInPager =  "mg-first",
                ClassToApplyToLastListItemInPager = "mg-last"
            })
        </div>
    </div>
</section>

@section Included{
    @Html.Raw(WebStore.Resources.Scripts.JqueryUi)
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $.AdminJs.productstooltips.activate();
            $.AdminJs.Countdown.activate();
        })
    </script>
}

