@model WebStore.Models.BindSelect

@{
    ViewBag.Title = WebStore.Resources.Titles.addAddress;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index","Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("Home","Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Account</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("Address","Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Address</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

@Html.Partial("~/Views/Shared/profileMenu.cshtml")

<div class="container mb-5">
    
    <div id="addNationalAddressSecction" class="row d-block">
        <div class="card mx-auto w-50">
            <form id="addNewNationalAddress" method="post">
                <div class="card-body">
                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Names</label>
                        <div class="form-group input-group">
                            <input class="form-control" type="text" name="strNames" id="strNamesNationale" placeholder="@WebStore.Resources.Placeholder.Names" />
                            <span class="input-group-addon">
                                <i class="fas fa-file-signature"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.LastNames</label>
                        <div class="form-group input-group">
                            <input class="form-control" type="text" name="strLastNames" id="strLastNamesNationale" placeholder="@WebStore.Resources.Placeholder.LastNames" />
                            <span class="input-group-addon">
                                <i class="fas fa-file-signature"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Region</label>
                        <div class="form-group input-group">
                            <select class="form-control" type="text" name="strStates" id="strStatesNationale" placeholder="@WebStore.Resources.Placeholder.Region">
                                <option value="">@WebStore.Resources.Placeholder.Region</option>
                                @foreach (var region in Model.regions)
                                {
                                    <option value="@Html.DisplayFor(a => region.idRegion)">@Html.DisplayFor(a => region.strNombre) @Html.DisplayFor(a => region.intNumber)</option>
                                }
                            </select>
                            <span class="input-group-addon">
                                <i class="fas fa-flag"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Province</label>
                        <div class="form-group input-group">
                            <select class="form-control" type="text" name="strProvincia" id="strProvinciaNationale" placeholder="@WebStore.Resources.Placeholder.Province">
                                <option value="">@WebStore.Resources.Placeholder.Province</option>
                            </select>
                            <span class="input-group-addon">
                                <i class="fas fa-city"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Comune</label>
                        <div class="form-group input-group">
                            <select class="form-control" type="text" name="strComuna" id="strComunaNationale" placeholder="@WebStore.Resources.Placeholder.Comune">
                                <option value="">@WebStore.Resources.Placeholder.Comune</option>
                            </select>
                            <span class="input-group-addon">
                                <i class="far fa-object-group"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.PostCode</label>
                        <div class="form-group input-group">
                            <input class="form-control" type="text" name="strPostale" id="strPostaleNationale" placeholder="@WebStore.Resources.Placeholder.PostCode" />
                            <span class="input-group-addon">
                                <i class="fas fa-map-marked-alt"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Address</label>
                        <div class="form-group input-group">
                            <input class="form-control" type="text" name="strAddress" id="strAddressNationale" placeholder="@WebStore.Resources.Placeholder.Address #" />
                            <span class="input-group-addon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.House</label>
                        <div class="form-group input-group">
                            <input class="form-control" type="text" name="strHome" id="strHomeNationale" placeholder="@WebStore.Resources.Placeholder.House" />
                            <span class="input-group-addon">
                                <i class="fas fa-home"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">
                            @WebStore.Resources.Placeholder.IdNum
                            <small>
                                <a href="javascript:void(0)" class="text-orangered" id="popover" data-toggle="popover" data-trigger="hover" data-placement="right" title="Número de ID" data-content="Los paquetes no serán entregados sin el número válido de identificación del cliente. Nosotros no usamos esta información para algún otro propósito. Por favor ingrese su número de identificación.">
                                    Leer más <i class="fas fa-angle-down"></i>
                                </a>
                            </small>
                        </label>
                        <div class="form-group input-group">
                            <input class="form-control" type="text" name="intIdNationale" id="intIdNationale" placeholder="@WebStore.Resources.Placeholder.IdNum" />
                            <span class="input-group-addon">
                                <i class="fas fa-id-card"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Telephone</label>
                        <div class="form-group input-group">
                            <input class="form-control" type="text" name="intTlf" id="intTlf" placeholder="@WebStore.Resources.Placeholder.Phone" />
                            <span class="input-group-addon">
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-3 text-right">
                        <button class="btn btn-orangered">@WebStore.Resources.Buttons.Save</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
            $(function () {
                $.AdminJs.profileMenu.activate();
                $.AdminJs.addAddress.activate();
            })
    </script>
}

