@model WebStore.Models.BindingAddress
@{
    ViewBag.Title = WebStore.Resources.Titles.editAddress;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index","Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("Home","Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Account</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("Address","Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Address</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

@Html.Partial("~/Views/Shared/profileMenu.cshtml")

<div class="container mb-5">
    <div id="aditAddressSecction" class="row">
        <div class="card mx-auto">
            <form id="addNewNationalAddress" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="PreviousId" value="@Model.Addresses.Id"/>
                <div class="card-body">
                    <div class="row" id="formDisplay">
                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Region</label>
                            <div class="form-group input-group">
                                <select class="form-control" type="text" name="States" id="strStatesNationale" placeholder="@WebStore.Resources.Placeholder.Region" required data-val="true" data-val-required="Este campo es requerido.">
                                    <option value="">@WebStore.Resources.Placeholder.Region</option>
                                    @foreach (var region in Model.Regiones)
                                    {
                                        <option @(region.idRegion == Model.Addresses.RegionId ? "selected" : "") value="@Html.DisplayFor(a => region.idRegion)">@Html.DisplayFor(a => region.strNombre) @Html.DisplayFor(a => region.intNumber)</option>
                                    }
                                </select>
                                <span class="input-group-addon">
                                    <i class="fas fa-flag"></i>
                                </span>
                            </div><span class="field-validation-valid" data-valmsg-for="States" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Province</label>
                            <div class="form-group input-group">
                                <select class="form-control" type="text" name="Provincia" id="strProvinciaNationale" placeholder="@WebStore.Resources.Placeholder.Province" required data-val="true" data-val-required="Este campo es requerido.">
                                    <option value="">@WebStore.Resources.Placeholder.Province</option>
                                    @foreach (var i in Model.Provinces)
                                    {
                                        <option @(i.idProvincia == Model.Addresses.ProvinceId ? "selected" : "") value="@i.idProvincia">@i.strNombre</option>
                                    }
                                </select>
                                <span class="input-group-addon">
                                    <i class="fas fa-city"></i>
                                </span>
                            </div>
                            <span class="field-validation-valid" data-valmsg-for="Provincia" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Comune</label>
                            <div class="form-group input-group">
                                <select class="form-control" type="text" name="Comuna" id="strComunaNationale" placeholder="@WebStore.Resources.Placeholder.Comune" required data-val="true" data-val-required="Este campo es requerido.">
                                    <option value="">@WebStore.Resources.Placeholder.Comune</option>
                                    @foreach (var i in Model.Comunes)
                                    {
                                        <option @(i.idComuna == Model.Addresses.ComunaId ? "selected" : "") value="@i.idComuna">@i.strNombre</option>
                                    }
                                </select>
                                <span class="input-group-addon">
                                    <i class="far fa-object-group"></i>
                                </span>
                            </div>
                            <span class="field-validation-valid" data-valmsg-for="Comuna" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.City</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text" name="City" id="strCityNationale" placeholder="@WebStore.Resources.Placeholder.City" value="@Model.Addresses.City" required data-val="true" data-val-required="Este campo es requerido." />
                                <span class="input-group-addon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </span>
                            </div>
                            <span class="field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.PostCode</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text" name="PosteCode" id="strPostaleNationale" placeholder="@WebStore.Resources.Placeholder.PostCode" value="@Model.Addresses.Poste" required data-val="true" data-val-required="Este campo es requerido." />
                                <span class="input-group-addon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </span>
                            </div>
                            <span class="field-validation-valid" data-valmsg-for="PosteCode" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Address</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text" name="Address" id="strAddressNationale" placeholder="@WebStore.Resources.Placeholder.Address #" value="@Model.Addresses.Address" required data-val="true" data-val-required="Este campo es requerido." />
                                <span class="input-group-addon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                            </div>
                            <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.Address 2</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text" name="AddressTwo" id="strAddressNationaleTwo" placeholder="@WebStore.Resources.Placeholder.Address 2 (referencias) (opcional)" value="@Model.Addresses.AddressTwo" />
                                <span class="input-group-addon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="font-weight-bold pl-3">@WebStore.Resources.Placeholder.House</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text" name="Type" id="strHomeNationale" placeholder="@WebStore.Resources.Placeholder.House" value="@Model.Addresses.Type" required data-val="true" data-val-required="Este campo es requerido." />
                                <span class="input-group-addon">
                                    <i class="fas fa-home"></i>
                                </span>
                            </div>
                            <span class="field-validation-valid" data-valmsg-for="Type" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-lg-4 text-right py-4">
                            <button class="btn btn-orangered">@WebStore.Resources.Buttons.Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="errorReport"></div>
</div>

@section Included{
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidate)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateMethods)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateUnobtrousive)
    @Html.Raw(WebStore.Resources.Scripts.SweetAlert)
}

@section Scripts{
    <script>
        $(function () {
            $.AdminJs.profileMenu.activate();
            $.AdminJs.editAddress.activate();
        })
    </script>
}
