@model WebStore.Models.ChangePassword
@{
    ViewBag.Title = WebStore.Resources.Titles.PasswordChange;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index","Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("Home","Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Account</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("Settings","Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Settings</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

@Html.Partial("~/Views/Shared/profileMenu.cshtml")

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-12">
            <h4>@WebStore.Resources.Titles.PasswordChange</h4>
            <hr class="padding-bottom-1x">
            <h4>Código de validación</h4>
            <p>Se le ha enviado un código de validación a su correo electrónico para validar el cambio de contraseña.</p>
            <div class="row justify-content-center">
                <div class="col-5">
                    <form method="post" id="changePassword">
                        @Html.AntiForgeryToken()
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group input-group">
                                            @Html.TextBoxFor(x => Model.ValidationCode, new { @class = "form-control", @placeholder = WebStore.Resources.Placeholder.ValidationCode})
                                            <span class="input-group-addon">
                                                <i class="fas fa-code"></i>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(x => Model.ValidationCode)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group input-group">
                                            @Html.TextBoxFor(x => Model.Password, new { @class = "form-control", @placeholder = WebStore.Resources.Placeholder.Password})
                                            <span class="input-group-addon">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(x => Model.Password)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group input-group">
                                            @Html.TextBoxFor(x => Model.ConfirmPassword, new { @class = "form-control", @placeholder = WebStore.Resources.Placeholder.RePassword})
                                            <span class="input-group-addon">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(x => Model.ConfirmPassword)
                                    </div>
                                </div>

                                <button class="btn btn-orangered float-right" type="submit">@WebStore.Resources.Buttons.Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="errorReport"></div>
</div>

@section Included{
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidate)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateMethods)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateUnobtrousive)
    @Html.Raw(WebStore.Resources.Scripts.SweetAlert)
}

@section Scripts{
    <script>
        $(function () {
            $.AdminJs.profileMenu.activate();
            //$.AdminJs.passwordChange.activate();
            var message =  @Html.Raw(Json.Encode(ViewBag.message.Data));
            if (message.status == "OK") {
                $.AdminJs.Alert.info(message.title, message.responseText);
            } else if (message.status == "warning") {
                $.AdminJs.Alert.warning(message.title, message.responseText);
            } else {
                $.AdminJs.Alert.error(message.title, message.responseText);
            }
        })
    </script>
}