@model IEnumerable<WebStore.Models.CartProductList>
@{
    ViewBag.Title = WebStore.Resources.Titles.Cart;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>
<div class="container padding-bottom-3x mb-1">
    <div class="mg-alert mg-alert-info alert-dismissible fade show text-center" style="margin-bottom: 30px;">
        .
        <span class="mg-alert-close" data-dismiss="alert">
            <i class="fas fa-times"></i>
        </span>
        <i class="fas fa-award"></i>
        &nbsp;&nbsp;With this purchase you will earn <span class="text-medium">2,549</span> Reward Points.
    </div>

    <div class="table-responsive shopping-cart" id="CartContainer">
        @{
            if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>@WebStore.Resources.Cart.Product</th>
                            <th class="text-center">@WebStore.Resources.Cart.Quantity</th>
                            <th class="text-center">@WebStore.Resources.Cart.Subtotal</th>
                            <th class="text-center">@WebStore.Resources.Cart.Discount</th>
                            <th class="text-center">Total</th>
                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="javascript:void(0);" id="EmptyCartList">@WebStore.Resources.Buttons.EmptyCart</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int subTotal = 0; int discount = 0; double total = 0; double Iva = 0;}
                        @foreach (var i in Model)
                        {
                            subTotal += i.SubtotalInt;
                            if (i.PriceOffInt > 0)
                            {
                                discount = (i.PriceInt - i.PriceOffInt) * i.Quantity;
                            }

                            total += i.TotalInt;

                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="#">
                                            <img src="~/Content/img/products/@i.Code-1.jpg" alt="Product">
                                        </a>
                                        <div class="product-info">
                                            <h4 class="product-title">
                                                <a href="@Url.Action("Category", "Product", new { id = i.Category, idp = i.Code, language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@i.Name</a>
                                            </h4>
                                            @{
                                                if (i.PriceOffInt > 0)
                                                {
                                                    <span class="text-muted"><del>$ @i.Price</del></span>
                                                    <span><em>Precio:</em>$ @i.PriceOff <span class="text-success">@i.PercentageOff DCTO</span></span>
                                                }
                                                else
                                                {
                                                    <span><em>Precio:</em>$ @i.Price</span>
                                                    <span><em>Color:</em> Black</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="count-input">
                                        <select class="form-control selectQuantity @(i.Quantity >= 7 ? "d-none":"")" data-id="@i.Code" @(i.Quantity >= 7 ? "disabled" : "")>
                                            @for (int j = 1; j < 7; j++)
                                            {
                                                <option value="@j" @(j == i.Quantity ? "selected" : "")>@j</option>
                                            }
                                            <option value="7" class="plusSix">+6</option>
                                        </select>
                                        <div class="form-group mb-0 @(i.Quantity < 7 ? "d-none":"")">
                                            <input type="text" name="quantityBox" class="form-control" placeholder="Cantidad" value="@i.Quantity" data-old="" maxlegth="3" data-id="@i.Code" @(i.Quantity < 7 ? "disabled" : "")>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center text-lg">$@(i.SubtotalStr)</td>
                                <td class="text-center text-lg">@(i.PercentageOff == null || i.PercentageOff == "" ? "0%" : i.PercentageOff)</td>
                                <td class="text-center text-lg">$@(i.TotalStr)</td>
                                <td class="text-center">
                                    <a class="remove-from-cart" href="javascript:void(0);" data-id="@i.Code" data-toggle="tooltip" title="" data-original-title="Quitar Artículo">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                Iva = total * 0.19;

                <div class="shopping-cart-footer">
                    <div class="column">
                        <form class="coupon-form" method="post">
                            <input class="form-control" type="text" placeholder="@WebStore.Resources.Placeholder.Cupon" required="">
                            <button class="btn btn-outline-orangered btn-sm" type="submit">@WebStore.Resources.Buttons.Cupon</button>
                        </form>
                    </div>
                    <div class="column text-lg">
                        <span class="text-muted">@WebStore.Resources.Cart.Subtotal:&nbsp; </span>
                        <span class="text-gray-dark">$@subTotal.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture)</span><br />
                        <span class="text-muted">@WebStore.Resources.Cart.Discount:&nbsp; </span>
                        <span class="text-gray-dark">$@discount.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture)</span>
                        <br />
                        <span class="text-muted">IVA (19%):&nbsp; </span>
                        <span class="text-gray-dark">$@Iva.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture)</span>
                        <br />
                        <span class="text-muted">Total:&nbsp; </span>
                        <span class="text-gray-dark">$@((total + Iva).ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture))</span>
                    </div>
                </div>

                <div class="shopping-cart-footer">
                    <div class="column">
                        <a class="btn btn-view-more" href="shop-grid-ls.html">
                            <i class="icon-arrow-left"></i>&nbsp;@WebStore.Resources.Buttons.BackShop
                        </a>
                    </div>
                    <div class="column">
                        <a class="btn btn-view-more" href="#" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Your cart" data-toast-message="is updated successfully!">@WebStore.Resources.Buttons.UpdateCart</a>
                        <a class="btn btn-orangered" href="@Url.Action("CheckOut", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@WebStore.Resources.Buttons.Checkout</a>
                    </div>
                </div>
            }
            else
            {
                <h3>Su carrito está vacío.</h3>
            }
        }
    </div>

    <div class="container mb-1">
        <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">También Pudieran Interesarte</h3>
        <div id="carouselYouMayLikeToo" class="owl-carousel owl-animated-in owl-grab owl-loaded" data-ride="carousel" data-interval="false">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <div class="mg-product-card mb-3">
                            <div class="mg-product-wish bg-secondary" href="javascript:void(0);">
                                <i></i>
                            </div>
                            <div class="mg-rating-stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="mg-product-thumb" href="javascript:void(0);">
                                <img class="img-fuild" src="https://eepp.cl/images/productos/Z1-K-BLANCO.jpg"
                                     alt="Producto">
                                <img class="img-fuild img-sec" src="https://eepp.cl/images/home/sec.png">

                                <div class="mg-product-card-body">
                                    <h4 class="mg-product-price">
                                        <del>$15.062,00</del><br />
                                        $ 10.125,00
                                        <label class="off">50% OFF</label>
                                    </h4>
                                    <div class="mg-product-category">
                                        SKU: 01245478
                                    </div>
                                    <h3 class="mg-product-title">
                                        algo va aquí
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="mg-product-card mb-3">
                            <div class="mg-product-wish bg-secondary" href="javascript:void(0);">
                                <i></i>
                            </div>
                            <div class="mg-rating-stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="mg-product-thumb" href="javascript:void(0);">
                                <img class="img-fuild" src="https://eepp.cl/images/productos/Z1-K-BLANCO.jpg"
                                     alt="Producto">
                                <img class="img-fuild img-sec" src="https://eepp.cl/images/home/sec.png">

                                <div class="mg-product-card-body">
                                    <h4 class="mg-product-price">
                                        <del>$15.062,00</del><br />
                                        $ 10.125,00
                                        <label class="off">50% OFF</label>
                                    </h4>
                                    <div class="mg-product-category">
                                        SKU: 01245478
                                    </div>
                                    <h3 class="mg-product-title">
                                        algo va aquí
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="mg-product-card mb-3">
                            <div class="mg-product-wish bg-secondary" href="javascript:void(0);">
                                <i></i>
                            </div>
                            <div class="mg-rating-stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="mg-product-thumb" href="javascript:void(0);">
                                <img class="img-fuild" src="https://eepp.cl/images/productos/Z1-K-BLANCO.jpg"
                                     alt="Producto">
                                <img class="img-fuild img-sec" src="https://eepp.cl/images/home/sec.png">

                                <div class="mg-product-card-body">
                                    <h4 class="mg-product-price">
                                        <del>$15.062,00</del><br />
                                        $ 10.125,00
                                        <label class="off">50% OFF</label>
                                    </h4>
                                    <div class="mg-product-category">
                                        SKU: 01245478
                                    </div>
                                    <h3 class="mg-product-title">
                                        algo va aquí
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="mg-product-card mb-3">
                            <div class="mg-product-wish bg-secondary" href="javascript:void(0);">
                                <i></i>
                            </div>
                            <div class="mg-rating-stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="mg-product-thumb" href="javascript:void(0);">
                                <img class="img-fuild" src="https://eepp.cl/images/productos/Z1-K-BLANCO.jpg"
                                     alt="Producto">
                                <img class="img-fuild img-sec" src="https://eepp.cl/images/home/sec.png">

                                <div class="mg-product-card-body">
                                    <h4 class="mg-product-price">
                                        <del>$15.062,00</del><br />
                                        $ 10.125,00
                                        <label class="off">50% OFF</label>
                                    </h4>
                                    <div class="mg-product-category">
                                        SKU: 01245478
                                    </div>
                                    <h3 class="mg-product-title">
                                        algo va aquí
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="mg-product-card mb-3">
                            <div class="mg-product-wish bg-secondary" href="javascript:void(0);">
                                <i></i>
                            </div>
                            <div class="mg-rating-stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="mg-product-thumb" href="javascript:void(0);">
                                <img class="img-fuild" src="https://eepp.cl/images/productos/Z1-K-BLANCO.jpg"
                                     alt="Producto">
                                <img class="img-fuild img-sec" src="https://eepp.cl/images/home/sec.png">

                                <div class="mg-product-card-body">
                                    <h4 class="mg-product-price">
                                        <del>$15.062,00</del><br />
                                        $ 10.125,00
                                        <label class="off">50% OFF</label>
                                    </h4>
                                    <div class="mg-product-category">
                                        SKU: 01245478
                                    </div>
                                    <h3 class="mg-product-title">
                                        algo va aquí
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Linkscss{
    @Html.Raw(WebStore.Resources.Linkscss.OwlCarousel)
    @Html.Raw(WebStore.Resources.Linkscss.OwlCarouselDefault)
    @Html.Raw(WebStore.Resources.Linkscss.Animate)
}

@section Included{
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidate)
    @Html.Raw(WebStore.Resources.Scripts.OwlCarousel)
    @Html.Raw(WebStore.Resources.Scripts.OwlCarouselJs)
    @Html.Raw(WebStore.Resources.Scripts.NotifyJs)
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $.AdminJs.cart.active();
        })
    </script>
}
