@model IEnumerable<WebStore.Models.CartProductList>
    <div class="table-responsive shopping-cart">
        @{
            if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>@WebStore.Resources.Cart.Product</th>
                            <th class="text-center">@WebStore.Resources.Cart.Quantity</th>
                            <th class="text-center">@WebStore.Resources.Cart.Subtotal</th>
                            <th class="text-center">@WebStore.Resources.Cart.Discount</th>
                            <th class="text-center">Total</th>
                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="javascript:void(0);" id="EmptyCartList">@WebStore.Resources.Buttons.EmptyCart</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int subTotal = 0; int discount = 0; double total = 0; double Iva = 0;}
                        @foreach (var i in Model)
                        {
                            subTotal += i.SubtotalInt;
                            if (i.PriceOffInt > 0)
                            {
                                discount = (i.PriceInt - i.PriceOffInt) * i.Quantity;
                            }

                            total += i.TotalInt;

                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="#">
                                            <img src="~/Content/img/products/@i.Code-1.jpg" alt="Product">
                                        </a>
                                        <div class="product-info">
                                            <h4 class="product-title">
                                                <a href="@Url.Action("Category", "Product", new { id = i.Category, idp = i.Code, language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@i.Name</a>
                                            </h4>
                                            @{
                                                if (i.PriceOffInt > 0)
                                                {
                                                    <span class="text-muted"><del>$ @i.Price</del></span>
                                                    <span><em>Precio:</em>$ @i.PriceOff <span class="text-success">@i.PercentageOff DCTO</span></span>
                                                }
                                                else
                                                {
                                                    <span><em>Precio:</em>$ @i.Price</span>
                                                    <span><em>Color:</em> Black</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="count-input">
                                        <select class="form-control selectQuantity @(i.Quantity >= 7 ? "d-none":"")" data-id="@i.Code" @(i.Quantity >= 7 ? "disabled" : "")>
                                            @for (int j = 1; j < 7; j++)
                                            {
                                                <option value="@j" @(j == i.Quantity ? "selected" : "")>@j</option>
                                            }
                                            <option value="7" class="plusSix">+6</option>
                                        </select>
                                        <div class="form-group mb-0 @(i.Quantity < 7 ? "d-none":"")">
                                            <input type="text" name="quantityBox" class="form-control" placeholder="Cantidad" value="@i.Quantity" data-old="" maxlegth="3" data-id="@i.Code" @(i.Quantity < 7 ? "disabled" : "")>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center text-lg">$@(i.SubtotalInt.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture))</td>
                                <td class="text-center text-lg">@(i.PercentageOff == null || i.PercentageOff == "" ? "0%" : i.PercentageOff)</td>
                                <td class="text-center text-lg">$@(i.TotalInt.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture))</td>
                                <td class="text-center">
                                    <a class="remove-from-cart" href="javascript:void(0);" data-id="@i.Code" data-toggle="tooltip" title="" data-original-title="Quitar Artículo">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                Iva = total * 0.19;

                <div class="shopping-cart-footer">
                    <div class="column">
                        <form class="coupon-form" method="post">
                            <input class="form-control" type="text" placeholder="@WebStore.Resources.Placeholder.Cupon" required="">
                            <button class="btn btn-outline-orangered btn-sm" type="submit">@WebStore.Resources.Buttons.Cupon</button>
                        </form>
                    </div>
                    <div class="column text-lg">
                        <span class="text-muted">@WebStore.Resources.Cart.Subtotal:&nbsp; </span>
                        <span class="text-gray-dark">$@subTotal.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture)</span><br />
                        <span class="text-muted">@WebStore.Resources.Cart.Discount:&nbsp; </span>
                        <span class="text-gray-dark">$@discount.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture)</span>
                        <br />
                        <span class="text-muted">IVA (19%):&nbsp; </span>
                        <span class="text-gray-dark">$@Iva.ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture)</span>
                        <br />
                        <span class="text-muted">Total:&nbsp; </span>
                        <span class="text-gray-dark">$@((total + Iva).ToString("N0", System.Threading.Thread.CurrentThread.CurrentCulture))</span>
                    </div>
                </div>

                <div class="shopping-cart-footer">
                    <div class="column">
                        <a class="btn btn-view-more" href="shop-grid-ls.html">
                            <i class="icon-arrow-left"></i>&nbsp;@WebStore.Resources.Buttons.BackShop
                        </a>
                    </div>
                    <div class="column">
                        <a class="btn btn-view-more" href="#" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Your cart" data-toast-message="is updated successfully!">@WebStore.Resources.Buttons.UpdateCart</a>
                        <a class="btn btn-orangered" href="@Url.Action("CheckOut", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@WebStore.Resources.Buttons.Checkout</a>
                    </div>
                </div>
            }
            else
            {
                <h3>Su carrito está vacío.</h3>
            }
        }
    </div>

