
@{
    ViewBag.Title = WebStore.Resources.Titles.CheckOut;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index","Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            <a href="@Url.Action("Cart","User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@WebStore.Resources.Titles.Cart</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-8 col-xl-9">
            <form id="CheckOutSteps" action="#" novalidate="novalidate">
                <h3>
                    <span class="step-Title">@WebStore.Resources.Check.Address</span>
                    <span class="fas fa-address-card fa-2x pl-3"></span>
                </h3>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-fn">@WebStore.Resources.Placeholder.Names</label>
                            <div class="form-group input-group">
                                <input class="form-control" required autocomplete="off" type="text" name="checkout-fn" id="checkout-fn" placeholder="@WebStore.Resources.Placeholder.Names">
                                <span class="input-group-addon">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-ln">@WebStore.Resources.Placeholder.LastNames</label>
                            <div class="form-group input-group">
                                <input class="form-control" required autocomplete="off" type="text" name="checkout-ln" id="checkout-ln" placeholder="@WebStore.Resources.Placeholder.LastNames">
                                <span class="input-group-addon">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-email">@WebStore.Resources.Placeholder.Email</label>
                            <div class="form-group input-group">
                                <input class="form-control" required autocomplete="off" type="email" name="checkout-email" id="checkout-email" placeholder="@WebStore.Resources.Placeholder.Email">
                                <span class="input-group-addon">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-phone">@WebStore.Resources.Placeholder.Telephone</label>
                            <div class="form-group input-group">
                                <input class="form-control" required autocomplete="off" type="text" name="checkout-phone" id="checkout-phone" placeholder="@WebStore.Resources.Placeholder.Phone">
                                <span class="input-group-addon">
                                    <i class="fas fa-mobile-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-company">@WebStore.Resources.Placeholder.Company</label>
                            <div class="form-group input-group">
                                <input class="form-control" required autocomplete="off" type="text" name="checkout-company" id="checkout-company" placeholder="@WebStore.Resources.Placeholder.Company">
                                <span class="input-group-addon">
                                    <i class="fas fa-industry"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-country">@WebStore.Resources.Placeholder.Country</label>
                            <div class="form-group input-group">
                                <select class="form-control" required autocomplete="off" name="checkout-country" id="checkout-country">
                                    <option value="">@WebStore.Resources.Placeholder.CCountry</option>
                                    <option value="1">Australia</option>
                                    <option value="2">Canada</option>
                                    <option value="3">France</option>
                                    <option value="4">Germany</option>
                                    <option value="5">Switzerland</option>
                                    <option value="6">USA</option>
                                </select>
                                <span class="input-group-addon">
                                    <i class="fas fa-globe-americas"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-city">@WebStore.Resources.Placeholder.City</label>
                            <div class="form-group input-group">
                                <select class="form-control" required autocomplete="off" name="checkout-city" id="checkout-city">
                                    <option value="">@WebStore.Resources.Placeholder.CCity</option>
                                    <option value="1">Amsterdam</option>
                                    <option value="2">Berlin</option>
                                    <option value="3">Geneve</option>
                                    <option value="4">New York</option>
                                    <option value="4">Paris</option>
                                </select>
                                <span class="input-group-addon">
                                    <i class="fas fa-city"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-zip">@WebStore.Resources.Placeholder.PostCode</label>
                            <div class="form-group input-group">
                                <input class="form-control" required autocomplete="off" type="text" name="checkout-zip" id="checkout-zip" placeholder="@WebStore.Resources.Placeholder.PostCode">
                                <span class="input-group-addon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom-1x">
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-address1">@WebStore.Resources.Placeholder.Address 1</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text" name="checkout-address1" id="checkout-address1" required autocomplete="off" placeholder="@WebStore.Resources.Placeholder.Address 1">
                                <span class="input-group-addon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="font-weight-bold" for="checkout-address2">@WebStore.Resources.Placeholder.Address 2</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text" name="checkout-address2" id="checkout-address2" required autocomplete="off" placeholder="@WebStore.Resources.Placeholder.Address 2">
                                <span class="input-group-addon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <h4>@WebStore.Resources.Titles.ShippingAddress</h4>
                    <hr class="padding-bottom-1x">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="chk-col-deep-orange filled-in" type="checkbox" id="same_address" checked="">
                            <label for="same_address">@WebStore.Resources.Placeholder.SameAddress</label>
                        </div>
                    </div>
                </fieldset>
                <h3>
                    <span class="step-Title">@WebStore.Resources.Check.Shipping</span>
                    <span class="fas fa-truck-moving fa-2x pl-3"></span>
                </h3>
                <fieldset>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th></th>
                                    <th>@WebStore.Resources.Check.ShippingM</th>
                                    <th>@WebStore.Resources.Check.DeliveryTime</th>
                                    <th>@WebStore.Resources.Check.Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <div class="custom-control custom-radio mb-0">
                                            <input class="radio with-gap radio-col-deep-orange" type="radio" id="courier" name="shipping-method"
                                                   checked="">
                                            <label for="courier"></label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-gray-dark">Courier</span><br><span class="text-muted text-sm">
                                            All
                                            Addresses(default zone), United States &amp; Canada
                                        </span>
                                    </td>
                                    <td class="align-middle">2 - 4 days</td>
                                    <td class="align-middle">$26.50</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="custom-control custom-radio mb-0">
                                            <input class="radio with-gap radio-col-deep-orange" type="radio" id="local" name="shipping-method">
                                            <label for="local"></label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-gray-dark">Local Shipping</span><br><span class="text-muted text-sm">
                                            All
                                            Addresses(default zone), United States &amp; Canada
                                        </span>
                                    </td>
                                    <td class="align-middle">up to one week</td>
                                    <td class="align-middle">$10.00</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="custom-control custom-radio mb-0">
                                            <input class="radio with-gap radio-col-deep-orange" type="radio" id="flat" name="shipping-method">
                                            <label for="flat"></label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-gray-darkm">Flat Rate</span><br><span class="text-muted text-sm">
                                            All
                                            Addresses(default zone)
                                        </span>
                                    </td>
                                    <td class="align-middle">5 - 7 days</td>
                                    <td class="align-middle">$33.85</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="custom-control custom-radio mb-0">
                                            <input class="radio with-gap radio-col-deep-orange" type="radio" id="ups" name="shipping-method">
                                            <label for="ups"></label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-gray-dark">UPS Ground Shipping</span><br><span class="text-muted text-sm">
                                            All
                                            Addresses(default zone)
                                        </span>
                                    </td>
                                    <td class="align-middle">4 - 6 days</td>
                                    <td class="align-middle">$18.00</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="custom-control custom-radio mb-0">
                                            <input class="radio with-gap radio-col-deep-orange" type="radio" id="pickup" name="shipping-method">
                                            <label for="pickup"></label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-gray-dark">Local Pickup from store</span><br><span class="text-muted text-sm">All Addresses(default zone)</span>
                                    </td>
                                    <td class="align-middle">—</td>
                                    <td class="align-middle">$0.00</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="custom-control custom-radio mb-0">
                                            <input class="radio with-gap radio-col-deep-orange" type="radio" id="locker" name="shipping-method">
                                            <label for="locker"></label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-gray-dark">Pick Up at Unishop Locker</span><br><span class="text-muted text-sm">All Addresses(default zone), United States &amp; Canada</span>
                                    </td>
                                    <td class="align-middle">—</td>
                                    <td class="align-middle">$9.99</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="custom-control custom-radio mb-0">
                                            <input class="radio with-gap radio-col-deep-orange" type="radio" id="global" name="shipping-method">
                                            <label for="global"></label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-gray-dark">Unishop Global Export</span><br><span class="text-muted text-sm">All Addresses(default zone), outside United States</span>
                                    </td>
                                    <td class="align-middle">3 - 4 days;</td>
                                    <td class="align-middle">$25.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <h3>
                    <span class="step-Title">@WebStore.Resources.Check.Payment</span>
                    <span class="fas fa-money-bill-alt fa-2x pl-3"></span>
                </h3>
                <fieldset>
                    <div class="cc-selector">
                        <input id="webpay" type="radio" name="credit-card" value="webpay" required="">
                        <label class="drinkcard-cc webpay" for="webpay"></label>
                        <input id="transferencia" type="radio" name="credit-card" value="transferencia" required="">
                        <label class="drinkcard-cc transferencia" for="transferencia"></label>
                    </div>
                </fieldset>
                <h3>
                    <span class="step-Title">@WebStore.Resources.Check.Resume</span>
                    <span class="fas fa-clipboard-list fa-2x pl-3"></span>
                </h3>
                <fieldset>
                    <div class="table-responsive shopping-cart">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@WebStore.Resources.Check.Product</th>
                                    <th class="text-center">@WebStore.Resources.Check.Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="product-item">
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/cart/01.jpg" alt="Product">
                                            </a>
                                            <div class="product-info">
                                                <h4 class="product-title">
                                                    <a href="shop-single.html">
                                                        Canon EOS M50 Mirrorless
                                                        Camera<small>x 1</small>
                                                    </a>
                                                </h4>
                                                <span>
                                                    <em>@WebStore.Resources.Cart.Type:</em> Mirrorless
                                                </span>
                                                <span>
                                                    <em>@WebStore.Resources.Cart.Color:</em>
                                                    Black
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center text-lg">$910.00</td>
                                    <td class="text-center"><a class="btn btn-outline-orangered btn-sm" href="cart.html">@WebStore.Resources.Buttons.Edit</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="product-item">
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/cart/02.jpg" alt="Product">
                                            </a>
                                            <div class="product-info">
                                                <h4 class="product-title">
                                                    <a href="shop-single.html">
                                                        Apple iPhone X 256 GB Space
                                                        Gray<small>x 1</small>
                                                    </a>
                                                </h4><span><em>Memory:</em> 256 GB</span>
                                                <span>
                                                    <em>Color:</em>
                                                    Space Gray
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center text-lg">$1,450.00</td>
                                    <td class="text-center"><a class="btn btn-outline-orangered btn-sm" href="cart.html">@WebStore.Resources.Buttons.Edit</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="product-item">
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/cart/03.jpg" alt="Product">
                                            </a>
                                            <div class="product-info">
                                                <h4 class="product-title">
                                                    <a href="shop-single.html">
                                                        HP LaserJet Pro Laser Printer
                                                        <small>
                                                            x
                                                            1
                                                        </small>
                                                    </a>
                                                </h4><span><em>Type:</em> Laser</span>
                                                <span>
                                                    <em>Color:</em>
                                                    White
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center text-lg">$188.50</td>
                                    <td class="text-center"><a class="btn btn-outline-orangered btn-sm" href="cart.html">@WebStore.Resources.Buttons.Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="shopping-cart-footer">
                        <div class="column"></div>
                        <div class="column text-lg"><span class="text-muted">@WebStore.Resources.Check.Subtotal:&nbsp; </span><span class="text-gray-dark">$2,548.50</span></div>
                    </div>
                    <div class="row padding-top-1x mt-3">
                        <div class="col-sm-6">
                            <h5>@WebStore.Resources.Check.ShippingTo:</h5>
                            <ul class="list-unstyled">
                                <li><span class="text-muted">@WebStore.Resources.Check.Client:&nbsp; </span>Daniel Adams</li>
                                <li><span class="text-muted">@WebStore.Resources.Check.Address:&nbsp; </span>44 Shirley Ave. West Chicago, IL 60185, USA</li>
                                <li><span class="text-muted">@WebStore.Resources.Check.Phone:&nbsp; </span>+1(808) 764 554 330</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h5>@WebStore.Resources.Check.PaymentM:</h5>
                            <ul class="list-unstyled">
                                <li><span class="text-muted">@WebStore.Resources.Check.Credit:&nbsp; </span>**** **** **** 5300</li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-4 col-xl-3">
            <aside class="siderbar">
                <div class="padding-top-2x hidden-lg-up"></div>
                <section class="mg-widget mg-widget-order-summary">
                    <h3 class="mg-widget-title">@WebStore.Resources.Check.ShoppingR</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>@WebStore.Resources.Check.Subtotal:</td>
                                <td class="text-gray-dark">$2,548.50</td>
                            </tr>
                            <tr>
                                <td>@WebStore.Resources.Check.Shipping:</td>
                                <td class="text-gray-dark">$26.50</td>
                            </tr>
                            <tr>
                                <td>@WebStore.Resources.Check.Tax:</td>
                                <td class="text-gray-dark">$9.72</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-lg text-gray-dark">$2,584.72</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="mg-widget mg-widget-featured-products">
                    <h3 class="mg-widget-title">
                        @WebStore.Resources.Check.RecentView
                    </h3>
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/widget/01.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">GoPro Hero4 Silver</a>
                            </h4>
                            <span class="entry-meta">$287.99</span>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/widget/02.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">GoPro Hero4 Silver</a>
                            </h4>
                            <span class="entry-meta">$287.99</span>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/widget/03.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">GoPro Hero4 Silver</a>
                            </h4>
                            <span class="entry-meta">$287.99</span>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html">
                                <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/widget/05.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title">
                                <a href="shop-single.html">GoPro Hero4 Silver</a>
                            </h4>
                            <span class="entry-meta">$287.99</span>
                        </div>
                    </div>
                </section>
                <a class="card border-0 bg-secondary" href="shop-grid-ls.html">
                    <div class="card-body">
                        <span class="d-block text-lg text-thin mb-2">Limited Time Deals</span>
                        <h3>Surface Pro 4</h3>
                        <p class="d-inline-block bg-warning text-white">&nbsp;&nbsp;@WebStore.Resources.Buttons.BuyNow&nbsp;<i class="fas fa-angle-right d-inline-block align-middle"></i>&nbsp;</p>
                    </div><img class="img-fluid d-block mx-auto" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/widget/promo.jpg" alt="Surface Pro">
                </a>
            </aside>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var form = $("#CheckOutSteps");
            var url = window.location.pathname;
            url = url.split('/');
            var lang = url[1];
            var label;

            if (lang === "es") {
                label = {
                    next: "Continuar",
                    previous: "Atrás",
                    finish: "Terminar"
                };
            } else {
                label = {
                    next: "Continue",
                    previous: "Back",
                    finish: "Finish"
                };
            }
            
            form.steps({
                headerTag: "h3",
                bodyTag: "fieldset",
                transitionEffect: "slideLeft",
                autoFocus: true,
                labels: label,
                /*onStepChanging:function(event, currentIndex, newIndex){
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        form.find(".body:eq(" + newIndex + ") label.error").remove();
                        form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onFinishing: function (event, currentIndex)
                {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                }*/
                onFinished: function (event, currentIndex) {
                    var x = $('input[name="credit-card"]:checked');
                    if (x.val() === "webpay") {
                        alert('to webPay')
                    } else if (x.val() === "transferencia") {
                        alert('to Transference')
                    } else {
                        alert('must select')
                    }
                }
            });
        })
    </script>
}

