@model IEnumerable<WebStore.Models.QuotingsProductList>
@{
    ViewBag.Title = WebStore.Resources.Titles.Quote;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index","Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

<div class="container mb-5">
    <div class="table-responsive shopping-cart">
        @{
            if (Model != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>@WebStore.Resources.Cart.Product</th>
                            <th class="text-center">@WebStore.Resources.Cart.Quantity</th>

                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" id="EmptyQuotingList" href="#">@WebStore.Resources.Buttons.EmptyList</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="#">
                                            <img src="~/Content/img/products/@i.Code-1.jpg" alt="Product" />
                                        </a>
                                        <div class="product-info">
                                            <h4 class="product-title">
                                                <a href="#">@i.Name</a>
                                            </h4>
                                            <div class="text-lg mb-1">$ @i.Price</div>
                                            <div class="text-sm">
                                                Disponibilidad:
                                                <div class="d-inline text-success">En Stock</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-center">
                                    <div class="count-input">
                                        <select class="form-control selectQuantity @(i.Quantity >= 7 ? "d-none":"")" data-id="@i.Code" @(i.Quantity >= 7 ? "disabled":"")>
                                            @for (int j = 1; j < 7; j++)
                                            {
                                                <option value="@j" @(j == i.Quantity ? "selected" : "")>@j</option>
                                            }
                                            <option value="7" class="plusSix">+6</option>
                                        </select>
                                        <div class="form-group mb-0 @(i.Quantity < 7 ? "d-none":"")">
											<input type="text" name="quantityBox" class="form-control" placeholder="Cantidad" value="@i.Quantity" data-old="" maxlegth="3" data-id="@i.Code" @(i.Quantity < 7 ? "disabled":"")>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-center">
                                    <a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Quitar Artículo" data-id="@i.Code">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No tiene productos para cotizar su lista está vacía.</h3>
            }

        }
    </div>

    <div class="custom-control custom-checkbox">
        <input class="filled-in chk-col-deep-orange" type="checkbox" id="inform_me" checked="">
        <label for="inform_me">Infórmame cuando los Productos de mi lista de desos estén disponibles</label>
    </div>

    <div class="row col-md-6">
        <a class="btn btn-orangered" href="javascript:void(0);" data-toggle="modal" data-target="#openQuote">@WebStore.Resources.Buttons.QuoteProducts</a>
    </div>
</div>

<form class="modal fade" method="post" id="openQuote" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@WebStore.Resources.Titles.SendQuote</h4>
                <div class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></div>
            </div>
            <div class="modal-body px-5">
                <div class="row col-12">
                    <label class="font-weight-bold" for="checkout-fn">@WebStore.Resources.Placeholder.FullName</label>
                    <div class="form-group input-group">
                        <input class="form-control" required autocomplete="off" type="text" name="quote-fn" id="quote-fn" value="@(Session["id"] != null ? Session["names"].ToString()+" "+Session["lastname"].ToString():"")" placeholder="@WebStore.Resources.Placeholder.FullName">
                        <span class="input-group-addon">
                            <i class="fas fa-file-signature"></i>
                        </span>
                    </div>
                </div>
                <div class="row col-12">
                    <label class="font-weight-bold" for="checkout-email">@WebStore.Resources.Placeholder.Email</label>
                    <div class="form-group input-group">
                        <input class="form-control" required autocomplete="off" type="email" name="quote-email" id="quote-email" value="@(Session["id"] != null ? Session["email"].ToString():"")" placeholder="@WebStore.Resources.Placeholder.Email">
                        <span class="input-group-addon">
                            <i class="fas fa-at"></i>
                        </span>
                    </div>
                </div>
                <div class="row col-12">
                    <label class="font-weight-bold" for="checkout-company">@WebStore.Resources.Placeholder.Company</label>
                    <div class="form-group input-group">
                        <input class="form-control" autocomplete="off" type="text" name="quote-company" id="quote-company" placeholder="@WebStore.Resources.Placeholder.Company">
                        <span class="input-group-addon">
                            <i class="fas fa-industry"></i>
                        </span>
                    </div>
                </div>
                <div class="row col-12">
                    <label class="font-weight-bold" for="checkout-phone">@WebStore.Resources.Placeholder.Telephone</label>
                    <div class="form-group input-group">
                        <input class="form-control" autocomplete="off" type="text" name="quote-phone" id="quote-phone" placeholder="@WebStore.Resources.Placeholder.Phone">
                        <span class="input-group-addon">
                            <i class="fas fa-mobile-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="row col-12">
                    <label for="ticket-description">@WebStore.Resources.Placeholder.Description</label>
                    <textarea class="form-control" name="quote-description" id="quote-description" rows="8" placeholder="@WebStore.Resources.Placeholder.WDescription"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-orangered" type="submit">@WebStore.Resources.Buttons.Quote</button>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script>
        $(function () {
            $.AdminJs.quoting.activate();
        })
    </script>
}
