@model WebStore.Models.QuotingModelBag
@{
    ViewBag.Title = WebStore.Resources.Titles.Quote;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index", "Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>

<div class="container mb-5">
    <div class="table-responsive shopping-cart">
        @{
            if (Model.ProductList != null && Model.ProductList.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>@WebStore.Resources.Cart.Product</th>
                            <th class="text-center">@WebStore.Resources.Cart.Quantity</th>

                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" id="EmptyQuotingList" href="#">@WebStore.Resources.Buttons.EmptyList</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ProductList)
                        {
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="#">
                                            <img src="~/Content/img/products/@i.Code-1.jpg" alt="Product" />
                                        </a>
                                        <div class="product-info">
                                            <h4 class="product-title">
                                                <a href="@Url.Action("Category", "Product", new { id = i.Category, idp = i.Code, language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@i.Name</a>
                                            </h4>
                                            @{
                                                if (i.PriceOff != "" && i.PriceOff != null)
                                                {
                                                    <div class="text-muted"><del>$ @i.Price</del></div>
                                                    <div class="text-lg mb-1">$ @i.PriceOff</div>
                                                }
                                                else
                                                {
                                                    <div class="text-lg mb-1">$ @i.Price</div>
                                                }
                                            }
                                            <div class="text-success text-lg">@i.PercentageOff</div>
                                            <div class="text-sm">
                                                Disponibilidad:
                                                @if (i.Stock)
                                                {
                                                    <div class="d-inline text-success">En Stock</div>
                                                }
                                                else
                                                {
                                                    <div class="d-inline text-danger">Agotado</div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-center">
                                    <div class="count-input">
                                        <select class="form-control selectQuantity @(i.Quantity >= 7 ? "d-none" : "")" data-id="@i.Code" @(i.Quantity >= 7 ? "disabled" : "")>
                                            @for (int j = 1; j < 7; j++)
                                            {
                                                <option value="@j" @(j == i.Quantity ? "selected" : "")>@j</option>
                                            }
                                            <option value="7" class="plusSix">+6</option>
                                        </select>
                                        <div class="form-group mb-0 @(i.Quantity < 7 ? "d-none" : "")">
                                            <input type="text" name="quantityBox" class="form-control" placeholder="Cantidad" value="@i.Quantity" data-old="" maxlegth="3" data-id="@i.Code" @(i.Quantity < 7 ? "disabled" : "")>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-center">
                                    <a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Quitar Artículo" data-id="@i.Code">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                                                }
                    </tbody>
                </table>
                                                }
                                                else
                                                {
                <h3>No tiene productos para cotizar su lista está vacía.</h3>
                                                }

        }
    </div>


    <div class="row col-md-6">
        <a class="btn btn-orangered" href="javascript:void(0);" data-toggle="modal" data-target="#openQuote">@WebStore.Resources.Buttons.QuoteProducts</a>
    </div>
</div>

<div class="modal fade" method="post" id="openQuote" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@WebStore.Resources.Titles.SendQuote</h4>
                <div class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></div>
            </div>
            <form id="QuotingForm">
                @Html.AntiForgeryToken()
                <div class="modal-body px-5">
                    <div class="row">
                        <div class="col-6">
                            <label class="font-weight-bold" for="checkout-fn">@WebStore.Resources.Placeholder.Names</label>
                            <div class="form-group input-group">
                                @{
                                    if (Session["id"] != null)
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingName, new { @class = "form-control", @readonly = "true", placeholder = WebStore.Resources.Placeholder.Names, Value = Model.Values.QuotingName != null ? Model.Values.QuotingName : "" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingName, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.Names })
                                    }
                                }
                                <span class="input-group-addon">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.Form.QuotingName)
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold" for="checkout-fn">@WebStore.Resources.Placeholder.LastNames</label>
                            <div class="form-group input-group">
                                @{
                                    if (Session["id"] != null)
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingLastname, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.LastNames, @readonly = "true", Value = Model.Values.QuotingLastname != null ? Model.Values.QuotingLastname : "" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingLastname, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.LastNames })
                                    }
                                }
                                <span class="input-group-addon">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.Form.QuotingLastname)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="font-weight-bold" for="checkout-email">@WebStore.Resources.Placeholder.Email</label>
                            <div class="form-group input-group">
                                @{
                                    if (Session["id"] != null)
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingEmail, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.Email, @readonly = "true", Value = Model.Values.QuotingEmail != null ? Model.Values.QuotingEmail : "" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingEmail, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.Email })
                                    }
                                }
                                <span class="input-group-addon">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.Form.QuotingEmail)
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold" for="checkout-phone">@WebStore.Resources.Placeholder.Telephone</label>
                            <div class="form-group input-group">
                                @{
                                    if (Session["id"] != null)
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingPhone, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.Phone, @readonly = "true", Value = Model.Values.QuotingPhone })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(x => x.Form.QuotingPhone, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.Phone })
                                    }
                                }
                                <span class="input-group-addon">
                                    <i class="fas fa-mobile-alt"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.Form.QuotingPhone)
                        </div>
                    </div>
                    <div class="row col-12">
                        <label class="font-weight-bold" for="ticket-description">Comentario</label>
                        @Html.TextAreaFor(x => x.Form.QuotingComment, new { @class = "form-control", placeholder = WebStore.Resources.Placeholder.WDescription, rows = "8" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-orangered" type="submit">@WebStore.Resources.Buttons.Quote</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Included{
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidate)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateUnobtrousive)
    @Html.Raw(WebStore.Resources.Scripts.SweetAlert)
}
@section Scripts{
    <script>
        $(function () {
            $.AdminJs.quoting.activate();
        })
    </script>
}
