@model WebStore.Models.RecoveryPassword
@{
    ViewBag.Title = WebStore.Resources.Titles.RetrievePassword;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a id="url_return" href="@Url.Action("Index","Home",new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-8 col-md-10">
                <h2>¿Olvidó su contraseña?</h2>
                <p>Cambie su contraseña en tres simples pasos. Esto ayudará a mantener su nueva contraseña segura.</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Introduzca su email en el campo de abajo.</li>
                    <li><span class="text-primary text-medium">2. </span>Le enviaremos un código temporal.</li>
                    <li><span class="text-primary text-medium">3. </span>User ese código para cambiar su contraseña de forma segura en nuestra web.</li>
                </ol>
                <div id="validationStepsRecovery" class="card mt-4">
                    <div class="card-body">
                        <form id="RecoveryPassword" action="#" novalidate="novalidate">
                            @Html.AntiForgeryToken()
                            <h3>
                                <span class="step-Title">Step One</span>
                            </h3>
                            <fieldset>
                                <div class="form-group">
                                    <label for="Email_Recovery">Escriba su dirección email</label>
                                    <input class="form-control" type="email" id="EmailRecovery" name="EmailRecovery" required="" data-val="true" data-val-required="Este campo es requerido.">
                                    <small class="form-text text-muted">Ingrese el email con el cual se registró en la página de Electro Productos. Luego se le enviará un código a esa dirección.</small>
                                    @Html.ValidationMessageFor(x => x.EmailRecovery)
                                </div>
                            </fieldset>
                            <h3>
                                <span class="step-Title">Step Two</span>
                            </h3>
                            <fieldset>
                                <div class="form-group">
                                    <label for="Cod_Recovery">Escriba el código enviado a su email</label>
                                    @Html.TextBoxFor(x => x.CodRecovery, new { @class="form-control"})
                                    <small class="form-text text-muted">Ingrese el código que se le fue enviado a la dirección de correo suministrada en el paso anterior.</small>
                                    @Html.ValidationMessageFor(x => x.CodRecovery)
                                </div>
                            </fieldset>
                            <h3>
                                <span class="step-Title">Step Three</span>
                            </h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="PassRecovery">Escriba su nueva contraseña</label>
                                        </div>
                                        <div class="form-group input-group">
                                            @Html.PasswordFor(x => x.PassRecovery, new { @class="form-control"})
                                            <span class="input-group-addon revealPass">
                                                <i class="far fa-eye"></i>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(x => x.PassRecovery)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="PassRecoveryConfirmation">Repita su nueva contraseña</label>
                                        </div>
                                        <div class="form-group input-group">
                                            @Html.PasswordFor(x => x.PassRecoveryConfirmation, new { @class = "form-control" })
                                            <span class="input-group-addon revealPass">
                                                <i class="far fa-eye"></i>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(x => x.PassRecoveryConfirmation)
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Linkscss{
    @Html.Raw(WebStore.Resources.Linkscss.Steps)
}
@section Included{
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidate)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateMethods)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateUnobtrousive)
    @Html.Raw(WebStore.Resources.Scripts.SweetAlert)
    @Html.Raw(WebStore.Resources.Scripts.JqueryUi)
    @Html.Raw(WebStore.Resources.Scripts.StepJs)
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $.AdminJs.LogInUp.recoveryPassword();
        })
    </script>
}

