<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <title>@ViewBag.Title</title>
    <!-- SEO Tags-->
    <meta name="title" content="Electro Productos - EEPP -EP - Proyectos LED - E-Commerce Store" />

    @RenderSection("MetaContent", false)
    <!--Resposive Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="~/Content/Loading.min.css" />

    @RenderSection("linkscss",required:false)

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-spy="scroll" data-target="#mg-vertical-nav" data-offset="120" data-lang="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.3"></script>
    <div class="page-loader-wrapper" id="page-loader-wrapper">
        <div class="loader">
            <div class="preloader size-xl">
                <div class="spinner-layer border-orangred">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="loader-icon">
                <i class="fas fos fo-logo-ep fa-2x"></i>
            </div>
            <p>@WebStore.Resources.Texts.Loading</p>
        </div>
    </div>

    @{ Html.RenderAction("MenuBig", "Menu", new { childAction = true }); }

    @{ Html.RenderAction("MenuMobile", "Menu", new { childAction = true });}

    <div class="body-content">
        @RenderBody()


        @{ Html.RenderAction("Index", "Footer", new { childAction = true });}
        <a id="backtoTop" class="totop" style="display: none;">
            <i class="fas fa-angle-up fa-2x"></i>
        </a>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("included", required:false)

    <script src="~/Scripts/Admin.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
