<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <title>@ViewBag.Title</title>
    <!-- SEO Tags-->
    <meta name="title" content="Electro Productos - EEPP -EP - Proyectos LED - E-Commerce Store" />

    @RenderSection("MetaContent", false)
    <!--Resposive Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="~/Content/PagedList.min.css" />

    <link rel="stylesheet" href="~/Content/OwlCarousel/owl.carousel.min.css" />

    <link rel="stylesheet" href="~/Content/OwlCarousel/owl.theme.default.min.css" />

    <link rel="stylesheet" href="~/Content/Countdown/Countdown.min.css" />

    <link rel="stylesheet" href="~/Content/Loading.min.css" />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-spy="scroll" data-target="#mg-vertical-nav" data-offset="120" data-lang="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.3"></script>
    <div class="page-loader-wrapper" id="page-loader-wrapper">
        <div class="loader">
            <div class="preloader size-xl">
                <div class="spinner-layer border-orangred">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="loader-icon">
                <i class="fas fos fo-logo-ep fa-2x"></i>
            </div>
            <p>@WebStore.Resources.Texts.Loading</p>
        </div>
    </div>

    @{ Html.RenderAction("MenuBig", "Menu", new { childAction = true }); }

    @{ Html.RenderAction("MenuMobile", "Menu", new { childAction = true });}

    <div class="body-content">
        @RenderBody()


        @{ Html.RenderAction("Index", "Footer", new { childAction = true });}
        <a id="backtoTop" class="totop" style="display: none;">
            <i class="fas fa-angle-up fa-2x"></i>
        </a>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" integrity="sha256-u7MY6EG5ass8JhTuxBek18r5YG6pllB9zLqE4vZyTn4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.12/dist/sweetalert2.all.min.js" integrity="sha256-Y+WJP3jVjJgfw+/m2N5/GGUgxqXDCz7S3zstxj8pqng=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.js" integrity="sha256-ZfyZUBGHlJunePNMsBqgGX3xHMv4kaCZ5Hj+8Txwd9c=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js" integrity="sha256-E+fw0vUbuPq4p3FWWtX7FzzlcMTe7hvrgZxOk8LPAh4=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>

    <script src="~/Scripts/Animation/wow.min.js"></script>

    <script src="~/Scripts/jquery.interactive_3d.js"></script>

    <script src="~/Scripts/OwlCarousel/owl.carousel.min.js"></script>

    <script src="~/Scripts/OwlCarousel/owl.carousel2.thumbs.min.js"></script>

    <script src="~/Scripts/OwlCarousel/Carousels.min.js"></script>

    <script src="~/Scripts/Countdown/Countdown.min.js"></script>

    <script src="~/Scripts/Admin.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
