<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="~/Content/PagedList.min.css" />

    <link rel="stylesheet" href="~/Content/OwlCarousel/owl.carousel.min.css"/>

    <link rel="stylesheet" href="~/Content/OwlCarousel/owl.theme.default.min.css"/>

    <link  rel="stylesheet" href="~/Content/Countdown/Countdown.min.css"/>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-spy="scroll" data-target="#mg-vertical-nav" data-offset="120">
    <nav class="navbar navbar-expand-lg navbar-sticky mg-big-screen">
        <div class="mg-search-overlay"></div>
        <div class="container align-middle">

            <div class="mg-container-logo mx-auto text-center">
                <a class="navbar-brand" href="/">
                    <div class="mg-logo-wrapper">
                        <span class="mg-logo-img">
                            <i class="fos fas fo-logo"></i>
                        </span>
                        <span class="mg-logo-title text-left">
                            <i class="fos fas fo-logo-text"></i>
                        </span>
                    </div>
                </a>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="text-center" style="width:100%;">
                    <div class="mg-search">
                        <ul class="navbar-nav">
                            <li class="nav-item mg-li-menu" style="margin-left:auto;">
                                <a class="nav-link mg-link-menu" href="javascript:void(0);">
                                    @Html.DisplayName(WebStore.Resources.Menu.left)
                                </a>
                            </li>
                            <li class="nav-item mg-li-menu mg-has-submenu">
                                <a class="nav-link mg-link-menu" href="javascript:void(0);">
                                    @Html.DisplayName(WebStore.Resources.Menu.middle)
                                </a>
                                <ul class="mg-sub-menu-categories">
                                    <div class="container">
                                        <div class="row pt-3">
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.Lights</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Home</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Garden</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Street</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Sun</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Public</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Atex</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Emergency</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.ElectricMaterials</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Control</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Breaker</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Differentials</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Distributors</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Push</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.Residential</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Plates</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Power</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Dimers</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Extensions</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.BoxBoards</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.Accessories</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.CableTie</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.CableGland</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Hose</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Fuses</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Others</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row pt-3 pb-3">
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.Plugs</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.MalePlugs</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.FemalePlugs</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Adapters</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.IndustrialMale</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.IndustrialFemale</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Extensions</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Faena</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.QDIN</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.ElectricTubes</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.FiberTray</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.GalvaTray</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Tubes</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Accessories</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Ladders</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.PVC</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.Cables</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>THHN</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>RVK</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>NYA(H07V-U)</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>H03VV-F</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>H05VV-F</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>Caleco</a>
                                                    </li>
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Parallel</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="text-decoration-none text-orangered">
                                                    <h6 class="text-left text-orangered">@WebStore.Resources.Categories.Posts</h6>
                                                </a>
                                                <hr>
                                                <ul class="list-unstyled">
                                                    <li class="list-item text-left mg-menu-subcategories">
                                                        <a>@WebStore.Resources.Categories.Posts</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item mg-li-menu" style="margin-right:auto;">
                                <a class="nav-link mg-link-menu" href="javascript:void(0);">
                                    @Html.DisplayName(WebStore.Resources.Menu.right) <span class="icon-dot"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mg-search-wrapper">
                        <form class="mg-site-search" method="get">
                            <input class="form-control" type="text" name="search" placeholder="@WebStore.Resources.Placeholder.Search...">
                            <div class="mg-search-tools">
                                <span class="mg-clear-search">@WebStore.Resources.Placeholder.Clear</span>
                                <span class="mg-close-search">

                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="text-right">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item mg-li-social mg-fix-bugg">
                            <a class="nav-link" href="javascript:void(0);">
                                <i class="fab fa-sistrix icon-default mg-open-search"></i>
                                <i class="fas fa-times icon-hover mg-close-search text-dark"></i>
                            </a>
                        </li>

                        <li class="nav-item mg-li-social mg-lang dropdown">
                            <a class="nav-link" href="javascript:void(0);">
                                <i class="far fa-flag"></i>
                            </a>
                            <ul class="mg-toolbar-dropdown mg-lang-dropdown animated fadeIn list-unstyled">
                                <li class="px-3 pt-1 pb-2">
                                    <select class="form-control form-control-sm">
                                        <option value="usd">$ USD</option>
                                        <option value="usd">€ EUR</option>
                                        <option value="usd">£ UKP</option>
                                        <option value="usd">¥ JPY</option>
                                    </select>
                                </li>
                                <li>
                                    <a href="@Url.Action("ChangeCulture", "Language", new { language = "en" }, null)" class="text-dark">
                                        <i class="flag-icon">
                                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/flags/EN.png" alt="English">
                                        </i>&nbsp;English
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ChangeCulture", "Language", new { language = "es" }, null)" class="text-dark">
                                        <i class="flag-icon">
                                            <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/23/08/01/shutterstock-104644850.jpg" alt="Español">
                                        </i>&nbsp;Español
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ChangeCulture", "Language", new { language = "ja" }, null)" class="text-dark">
                                        <i class="flag-icon">
                                            <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/2d/d4/a7/untitled-design-153.jpg" alt="日本語">
                                        </i>&nbsp;日本語
                                    </a>
                                </li>
                            </ul>
                        </li>

                        @{
                            bool var = false;
                            if (var)
                            {

                                <li class="nav-item mg-li-social dropdown">
                                    <a class="nav-link" href="javascript:void(0);" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="far fa-user"></i>
                                    </a>
                                    <ul class="dropdown-menu mg-dropdown animated fadeIn" role="menu" aria-labelledby="dropdownMenuLink">
                                        <div class="col-lg-12">
                                            <div class="text-center mb-3 mt-3">
                                                <h3 style="font-weight: normal;">@WebStore.Resources.Titles.Start</h3>
                                                <hr>
                                            </div>
                                            <form id="ajax-login-form" action="" method="post" role="form"
                                                  autocomplete="off">
                                                <div class=" form-group input-group">
                                                    <input type="text" class="form-control" placeholder="@WebStore.Resources.Placeholder.Email" aria-label="Username"
                                                           aria-describedby="basic-addon1" autocomplete="off" name="user" id="user">
                                                    <span class="input-group-addon">
                                                        <i class="fas fa-at"></i>
                                                    </span>
                                                </div>

                                                <div class=" form-group input-group">
                                                    <input type="password" class="form-control" placeholder="@WebStore.Resources.Placeholder.Password" aria-label="Password"
                                                           aria-describedby="basic-addon1" autocomplete="off" name="pass" id="pass">
                                                    <span class="input-group-addon">
                                                        <i class="fas fa-key"></i>
                                                    </span>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-xs-5 pull-right">
                                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-success mg-login-btn"
                                                               value="@WebStore.Resources.Buttons.LogIn">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row pb-3">
                                                        <div class="col-lg-12">
                                                            <div class="text-center">
                                                                <a href="r" tabindex="5" class="mg-forgot-password">
                                                                    ¿Olvidó su
                                                                    contraseña?
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="text-center">
                                                                <a href="@Url.Action("LogIn", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)" tabindex="5" class="mg-forgot-password">
                                                                    Regístrate si no tienes cuenta
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                                            </form>
                                            <h5 class="mg-section-title mg-section-title-center mb-3">
                                                <b></b>
                                                <span class="mg-section-title-main align-middle">O</span>
                                                <b></b>
                                            </h5>
                                            <div class="form-group">
                                                <div class="col-xs-5 pull-right">
                                                    <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn mg-google">
                                                        <i class="fab fa-google-plus-g"></i> Google
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-5 pull-right">
                                                    <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn mg-facebook">
                                                        <i class="fab fa-facebook-f"></i> Facebook
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item mg-li-social mg-li-menu mg-has-submenu-user dropdown">
                                    <a class="nav-link" href="javascript:void(0);">
                                        <i class="far fa-user"></i>
                                    </a>
                                    <ul class="mg-sub-menu-user animated bounceIn">
                                        <li class="mg-submenu-item-user">
                                            <div class="user-ava">
                                                <i class="fos fo-donkijote-british fo-2x"></i>
                                            </div>
                                            <div class="user-info">
                                                <h6 class="user-name">Manoel Gonçalves</h6>
                                                <span class="text-xs text-muted">290 Reward points</span>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Home", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Titles.Account</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Orders", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Titles.Orders</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("WishList", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Titles.Wishes</a>
                                        </li>
                                        <li class="mg-submenu-separator"></li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fas fa-unlock"></i>
                                                @WebStore.Resources.Buttons.Exit
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                        <li class="nav-item mg-li-social dropdown">
                            <a class="nav-link" href="@Url.Action("Wishlist", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">
                                <i class="far fa-heart"></i>
                                <span class="mg-navbar-compare">
                                    <span class="mg-count-label">3</span>
                                </span>
                            </a>
                        </li>

                        <li class="nav-item mg-li-social mg-shopping-cart dropdown">
                            <a class="nav-link" href="@Url.Action("Cart", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="mg-navbar-cart">
                                    <span class="mg-count-label">3</span>
                                </span>
                            </a>
                            <div class="mg-toolbar-dropdown mg-cart-dropdown mg-widget-cart mg-hidden-on-mobile">
                                <div class="entry">
                                    <div class="entry-thumb">
                                        <a href="shop-single.html">
                                            <img src="http://themes.rokaux.com/unishop/v3.0/template-3/img/shop/widget/04.jpg" alt="Product">
                                        </a>
                                    </div>
                                    <div class="entry-content">
                                        <h4 class="entry-title">
                                            <a href="shop-single.html">Canon EOS M50 Mirrorless Camera</a>
                                        </h4>
                                        <span class="entry-meta">1 x $910.00</span>
                                    </div>
                                    <div class="entry-delete">
                                        <i class="fas fa-times"></i>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <p class="text-gray-dark py-2 mb-0">
                                        <span class="text-muted">Subtotal:</span> &nbsp;$2,548.50
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <div class="pr-2 w-50">
                                        <a href="@Url.Action("Cart", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })" style="text-decoration:none;">
                                            <div class="btn btn-secondary btn-sm btn-block mb-0" href="cart.html">@WebStore.Resources.Buttons.ShowCart</div>
                                        </a>
                                    </div>
                                    <div class="pl-2 w-50">
                                        <a href="@Url.Action("CheckOut", "User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })" style="text-decoration:none;">
                                            <div class="btn btn-orangered btn-sm btn-block mb-0">@WebStore.Resources.Buttons.Checkout</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg mg-mobile-menu" data-nav-status="toggle" id="navbar">
        <div class="container align-middle mg-header-mobile-menu">
            <div class="mg-mobile-menu-wrapper mx-auto">
                <div class="mg-mobile-menu-wrapper-item">
                    <a class="navbar-item navbar-toggler" href="/">
                        <i class="fas fa-home"></i>
                    </a>
                </div>
                <div class="mg-mobile-menu-wrapper-item">
                    <a class="navbar-item navbar-toggler mobile-menu-toggle">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="mg-mobile-menu-wrapper-item">
                    <a class="navbar-item navbar-toggler" href="@Url.Action("All","Categories", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">
                        <i class="fas fa-th-large"></i>
                    </a>
                </div>
                <div class="mg-mobile-menu-wrapper-item">
                    <a class="navbar-item navbar-toggler" href="@Url.Action("Cart","User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">
                        <span class="mg-navbar-cart">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>
                </div>
                <div class="mg-mobile-menu-wrapper-item">
                    @{
                        bool userLog = true;

                        if (userLog)
                        {
                            <a class="navbar-item navbar-toggler" id="mg-profile-toggle">
                                <i class="fas fa-user"></i>
                            </a>
                        }
                        else
                        {
                            <a class="navbar-item navbar-toggler" href="@Url.Action("LogIn","User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">
                                <i class="fas fa-user"></i>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="menu" id="navbarResponsiveMobile">
            <div class="mg-logo-img">
                <img class="img-fluid" src="https://eepp.cl/images/home/logoeepp.png" />
            </div>
            <div class="mg-mobile-search">
                <form method="get">
                    <div class=" form-group input-group">
                        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1"
                               autocomplete="off" name="search" id="search">
                        <span class="input-group-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </form>
            </div>
            <div class="toolbar">
                <div class="toolbar-item">
                    <a href="#" id="on-mobile-language-dropdown">
                        <div>
                            <i class="fas">
                                @{
                                    string currentLang = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;

                                    if (currentLang == "es")
                                    {
                                        <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/23/08/01/shutterstock-104644850.jpg" alt="Español">
                                    }
                                    else if (currentLang == "en")
                                    {
                                        <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFAf8vH6x8unZQXqmX0lhPtXhFnu9Q6KBqN3im8qutd26Ea7TLQg" alt="English">
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/2d/d4/a7/untitled-design-153.jpg" alt="日本語">
                                    }
                                }
                            </i>
                            @{
                                if (currentLang == "es")
                                {
                                    <span class="text-label">
                                        Español
                                    </span>
                                }
                                else if (currentLang == "en")
                                {
                                    <span class="text-label">
                                        English
                                    </span>
                                }
                                else
                                {
                                    <span class="text-label">
                                        日本語
                                    </span>
                                }
                            }

                        </div>
                    </a>
                    <ul class="mg-toolbar-dropdown lang-dropdown w-100" id="on-mobile-language">
                        <li class="px-3 pt-1 pb-2">
                            <select class="form-control form-control-sm">
                                <option value="usd">$ USD</option>
                                <option value="usd">€ EUR</option>
                                <option value="usd">£ UKP</option>
                                <option value="usd">¥ JPY</option>
                            </select>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangeCulture","Language", new { language = "en"}, null)">
                                <i class="flag-icon">
                                    <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFAf8vH6x8unZQXqmX0lhPtXhFnu9Q6KBqN3im8qutd26Ea7TLQg" alt="English">
                                </i>&nbsp;English
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangeCulture","Language", new { language = "es"}, null)">
                                <i class="flag-icon">
                                    <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/23/08/01/shutterstock-104644850.jpg" alt="Español">
                                </i>&nbsp;Español
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangeCulture","Language", new { language = "ja"}, null)">
                                <i class="flag-icon">
                                    <img class="img-fluid" src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/2d/d4/a7/untitled-design-153.jpg" alt="日本語">
                                </i>&nbsp;日本語
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="toolbar-item">
                    <a href="product-comparison.html">
                        <div>
                            <span class="mg-navbar-compare">
                                <i class="fos fas fo-compare"></i>
                                <span class="mg-count-label">3</span>
                            </span>
                            <span class="text-label">@WebStore.Resources.Buttons.Compare</span>
                        </div>
                    </a>
                </div>
                <div class="toolbar-item">
                    <a href="@Url.Action("LogIn","User", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">
                        <div>
                            <i class="fas fa-user"></i>
                            <span class="text-label">@WebStore.Resources.Titles.LogIn</span>
                        </div>
                    </a>
                </div>
            </div>
            <nav class="mg-slide-menu">
                <ul class="mg-slide-menu-wrapper" data-initial-height="414" style="height:414px;">
                    <li class="has-children">
                        <span>
                            <a href="index.html">@WebStore.Resources.Menu.left</a>
                            <span class="sub-menu-toggle"></span>
                        </span>
                        <ul class="slideable-submenu">
                            <li class="back-btn">
                                <a href="#">@WebStore.Resources.Buttons.Back</a>
                            </li>
                            <li>
                                <a href="index.html">Hero Slider</a>
                            </li>
                            <li>
                                <a href="home-featured-categories.html">Categories Grid</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span>
                            <a href="index.html">@WebStore.Resources.Menu.middle</a>
                            <span class="sub-menu-toggle"></span>
                        </span>
                        <ul class="slideable-submenu">
                            <li class="back-btn">
                                <a href="#">@WebStore.Resources.Buttons.Back</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.Lights</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.ElectricMaterials</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.Residential</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.Accessories</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.Plugs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.ElectricTubes</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.Cables</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">@WebStore.Resources.Categories.Posts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span>
                            <a href="#">@WebStore.Resources.Menu.right</a>
                            <span class="sub-menu-toggle"></span>
                        </span>
                        <ul class="slideable-submenu">
                            <li class="back-btn">
                                <a href="#">@WebStore.Resources.Buttons.Back</a>
                            </li>
                            <li>
                                <a href="index.html">Hero Slider</a>
                            </li>
                            <li>
                                <a href="home-featured-categories.html">Categories Grid</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">@WebStore.Resources.Footer.Returns</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">@WebStore.Resources.Footer.Conditions</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">@WebStore.Resources.Footer.ShippingTerms</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">@WebStore.Resources.Footer.Help</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">@WebStore.Resources.Footer.Security</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">@WebStore.Resources.Footer.FAQ</a>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
        @Html.Partial("~/Views/Shared/profileMenuMobile.cshtml")
    </nav>

    <div class="body-content">
        @RenderBody()

        <footer class="py-5 mg-site-footer" style="background-image: url(http://themes.rokaux.com/unishop/v3.0/template-3/img/footer-bg.png);">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Categories-->
                        <section class="widget mg-widget-links mg-widget-light-skin">
                            <h3 class="mg-widget-title">@WebStore.Resources.Footer.Departments</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.Lights</a>
                                        </li>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.ElectricMaterials</a>
                                        </li>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.Residential</a>
                                        </li>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.Accessories</a>
                                        </li>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.Plugs</a>
                                        </li>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.ElectricTubes</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.Cables</a>
                                        </li>
                                        <li>
                                            <a href="#">@WebStore.Resources.Categories.Posts</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- About Us-->
                        <section class="widget mg-widget-links mg-widget-light-skin">
                            <h3 class="mg-widget-title">@WebStore.Resources.Footer.About</h3>
                            <ul>
                                <li>
                                    <a href="#">@WebStore.Resources.Footer.Returns</a>
                                </li>
                                <li>
                                    <a href="#">@WebStore.Resources.Footer.Conditions</a>
                                </li>
                                <li>
                                    <a href="#">@WebStore.Resources.Footer.ShippingTerms</a>
                                </li>
                                <li>
                                    <a href="#">@WebStore.Resources.Footer.Help</a>
                                </li>
                                <li>
                                    <a href="#">@WebStore.Resources.Footer.Security</a>
                                </li>
                                <li>
                                    <a href="#">@WebStore.Resources.Footer.FAQ</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- Account / Shipping Info-->
                        <section class="widget mg-widget-links mg-widget-light-skin">
                            <h3 class="mg-widget-title">@WebStore.Resources.Footer.AccountOther</h3>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Home", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Footer.AccountOther</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Orders", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Footer.Orders</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WishList", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Footer.Wishes</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Address", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Footer.Address</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Settings", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Footer.Profile</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Tickets", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Footer.Tickets</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
                <hr class="hr-light mt-5 mb-5 hidden-md-down">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!-- Contact Info-->
                        <section class="widget mg-widget-light-skin">
                            <h3 class="mg-widget-title">@WebStore.Resources.Footer.Touch</h3>
                            <p class="text-white">@WebStore.Resources.Footer.Phone: +1 (900) 33 169 7720</p>
                            <ul class="list-unstyled text-sm text-white">
                                <li>
                                    <span class="opacity-50">@WebStore.Resources.Footer.MF:&nbsp;</span>9.00 am - 8.00 pm
                                </li>
                                <li>
                                    <span class="opacity-50">@WebStore.Resources.Footer.Saturday:&nbsp;</span>10.00 am - 6.00 pm
                                </li>
                            </ul>
                            <p>
                                <a class="navi-link-light" href="#">@WebStore.Resources.Footer.Support</a>
                            </p>
                            <a class="social-button shape-circle sb-facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="social-button shape-circle sb-twitter" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="social-button shape-circle sb-instagram" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="social-button shape-circle sb-google-plus" href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- Mobile App Buttons-->
                        <section class="widget mg-widget-light-skin">
                            <h3 class="mg-widget-title">@WebStore.Resources.Footer.Apps</h3>
                            <a class="market-button apple-button" href="#"><span class="mb-subtitle">@WebStore.Resources.Buttons.Download</span><span class="mb-title">@WebStore.Resources.Buttons.App</span></a>
                            <a class="market-button google-button" href="#"><span class="mb-subtitle">@WebStore.Resources.Buttons.Download</span><span class="mb-title">@WebStore.Resources.Buttons.Google</span></a>
                            <a class="market-button windows-button" href="#"><span class="mb-subtitle">@WebStore.Resources.Buttons.Download</span><span class="mb-title">@WebStore.Resources.Buttons.Windows</span></a>
                        </section>
                    </div>
                    <div class="col-lg-6">
                        <!-- Subscription-->
                        <section class="widget mg-widget-light-skin">
                            <h3 class="mg-widget-title">@WebStore.Resources.Footer.Subs</h3>
                            <form class="row" action="//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=1194bb7544" method="post" target="_blank" novalidate="">
                                <div class="col-sm-8">
                                    <div class="input-group input-light">
                                        <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail">
                                        <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                                    </div>
                                    <p class="form-text text-sm text-white opacity-50 pt-2">@WebStore.Resources.Footer.extra</p>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-orangered mt-0" type="submit">@WebStore.Resources.Buttons.Subs</button>
                                </div>
                            </form>
                            <div class="pt-3 margin-bottom-1x" style="max-width: 615px;">
                                <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-1/img/payment_methods.png" alt="Payment Methods">
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Copyright-->
                <p class="footer-copyright">
                    &copy; @DateTime.Now.Year All rights reserved. Made by &nbsp;
                    <i class="fos fas fo-donkijote-spanish fo-2x"></i>
                    <a href="" target="_blank"> &nbsp;Donkijote</a>
                </p>
            </div>
        </footer>

        <a id="backtoTop" class="totop" style="display: none;">
            <i class="fas fa-angle-up fa-2x"></i>
        </a>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js" integrity="sha256-PtzTX1ftmEmj8YUiAX0wTIQ+ddTAGVt2MiLMsGsAMxM=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.12/dist/sweetalert2.all.min.js" integrity="sha256-Y+WJP3jVjJgfw+/m2N5/GGUgxqXDCz7S3zstxj8pqng=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.js" integrity="sha256-ZfyZUBGHlJunePNMsBqgGX3xHMv4kaCZ5Hj+8Txwd9c=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.js" integrity="sha256-4f5caNpqq/YzL53GMoOrN6Bna+a4NDUZrAVT+hUHZjU=" crossorigin="anonymous"></script>

    <script src="~/Scripts/Animation/wow.min.js"></script>

    <script src="~/Scripts/jquery.interactive_3d.js"></script>

    <script src="~/Scripts/OwlCarousel/owl.carousel.min.js"></script>

    <script src="~/Scripts/OwlCarousel/owl.carousel2.thumbs.min.js"></script>

    <script src="~/Scripts/OwlCarousel/Carousels.min.js"></script>

    <script src="~/Scripts/Countdown/Countdown.min.js"></script>

    <script src="~/Scripts/Admin.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
