<div class="mg-profile">
    <div class="mg-profile-toggle"><i class="fas fa-cog"></i></div>
    <div class="mg-profile-body">
        <aside class="user-info-wrapper">
            <div class="user-cover" style="background-image: url(http://themes.rokaux.com/unishop/v3.0/template-3/img/account/user-cover-img.jpg);">
                <div class="info-label" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward Points to spend">
                    <i class="fas fa-award"></i>290 points
                </div>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <a class="edit-avatar" href="AvatarModal" data-toggle="modal" data-target="#AvatarModal"></a>
                    <img class="img-fluid" src="https://s.w.org/images/core/emoji/2.3/svg/1f620.svg" alt="User">
                </div>
                <div class="user-data">
                    <h4 class="h5">Manoel Gonçalves</h4><span>Ingreso 06 Febrero, 2017</span>
                </div>
            </div>
        </aside>
        <nav class="list-group">
            <a class="list-group-item with-badge @( ViewBag.url == "Orders" ? "active" : (ViewBag.url == "Traking" ? "active" : ""))" href="@Url.Action("Orders", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">
                <i class="fas fa-shopping-bag"></i>@WebStore.Resources.Titles.Orders
                <span class="badge badge-default badge-pill">6</span>
            </a>
            <a class="list-group-item @( ViewBag.url == "Settings" ? "active" : "")" href="@Url.Action("Settings", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">
                <i class="fas fa-lock"></i>@WebStore.Resources.Titles.Settings
            </a>
            <a class="list-group-item @( ViewBag.url == "Address" ? "active" : "")" href="@Url.Action("Address", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">
                <i class="fas fa-map-marker-alt"></i>@WebStore.Resources.Titles.Address
            </a>
            <a class="list-group-item with-badge @( ViewBag.url == "Wishes" ? "active" : "")" href="@Url.Action("WishList", "Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">
                <i class="far fa-heart"></i>@WebStore.Resources.Titles.Wishes
                <span class="badge badge-default badge-pill">3</span>
            </a>
            <a class="list-group-item with-badge @( ViewBag.url == "Tickets" ? "active": "")" href="@Url.Action("Tickets","Account", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">
                <i class="fas fa-ticket-alt"></i>@WebStore.Resources.Titles.Tickets
                <span class="badge badge-default badge-pill">4</span>
            </a>
        </nav>
    </div>
</div>

<div class="modal fade" id="AvatarModal" tabindex="-1" role="dialog" aria-labelledby="AvatarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AvatarModalLabel">Selecciona tu Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="avatars">
                    <div class="avatar selected">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f620.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f61e.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f629.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f632.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f635.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f630.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f612.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f60d.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f624.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f61c.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f61d.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f60b.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f618.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f61a.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f637.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f633.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f603.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f606.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f601.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f602.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/263a.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f604.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f622.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f62d.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f628.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f623.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f621.svg">
                    </div>
                    <div class="avatar">
                        <img src="https://s.w.org/images/core/emoji/2.3/svg/1f631.svg">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
