<nav id="mg-vertical-nav">
    <ul>
        <li>
            <a class="nav-link" href="#header" data-number="1">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Home</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#off" data-number="2">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Off</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#top-categories" data-number="3">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.TopCate</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#staff" data-number="4">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Outstanding</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#plans" data-number="5">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Plans</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#cate" data-number="6">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Cate</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#brands" data-number="7">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Brands</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#info" data-number="8">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Info</span>
            </a>
        </li>
    </ul>
</nav>
