@model WebStore.Models.Index
@{
    ViewBag.Title = WebStore.Resources.Titles.Home;
}

<section class="header-carousel">
    <div id="carouselMain" class="owl-carousel owl-loaded owl-animated-in owl-animated-out mg-dot">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                @foreach (var p in Model.ProductsOffer)
                {
                    <div class="owl-item">
                        <div class="item">
                            <div class="container padding-top-3x">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                                        <div class="from-top">
                                            <div class="display-4 mb-2 pt-1 text-capitalize text-danger font-weight-bold">¡Oferta Especial!</div>
                                        </div>
                                        <div class="from-bottom">
                                            <div class="h2 text-body mb-2 pt-1 text-capitalize">@p.strNombre</div>
                                            <div class="h2 text-body mb-4 pb-1"><del class="text-muted h4">$@p.intPrecio</del><br /> <span class="h1">$@p.intPrecioOff</span><span class="text-success h4">@p.intPrecentOff DCTO</span></div>
                                        </div>
                                        <a class="btn btn-orangered scale-up delay-1" href="@Url.Action("Category","Product", new { id = p.categorySeo, idp = p.strCodigo, language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName})">@WebStore.Resources.Buttons.ViewProduct</a>
                                    </div>
                                    <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" style="max-width:400px;" src="~/Content/img/carouselOffers/@(p.strCodigo).png" alt="@p.strNombre"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="top-categories" data-name="categories" class="mg-content">
    <div class="block-separator"></div>
    <div class="block-separator"></div>
    <div class="container pb-5">
        <h3 class="text-center mb-5 wow fadeInRight text-uppercase" data-wow-duration="2s">@WebStore.Resources.Titles.TopCate</h3>
        <div id="carouselCategories" class="owl-carousel owl-grab owl-animated-in owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    @foreach (var i in Model.Binding.family)
                    {
                        <div class="owl-item">
                            <div class="mg-card mb-3 wow fadeInRight" data-wow-duration="2s">
                                <a class="mg-card-img-tiles">
                                    <div class="mg-inner">
                                        <div class="mg-main-img">
                                            <img class="img-fuild" src="~/Content/img/categories/@i.StrImgOne">
                                        </div>
                                        <div class="mg-thumblist">
                                            <img class="img-fuild" src="~/Content/img/categories/@i.StrImgTwo">
                                            <img class="img-fuild" src="~/Content/img/categories/@i.StrImgThree">
                                        </div>
                                    </div>
                                </a>
                                <div class="card-body text-center">
                                    <h4 class="card-title">
                                        @WebStore.Resources.Categories.ResourceManager.GetString(i.StrName)
                                    </h4>
                                    <a class="btn btn-outline-orangered btn-sm" href="@Url.Action("s", "Categories", new { id = WebStore.Resources.Seo.ResourceManager.GetString(i.StrName), language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName }, null)">@WebStore.Resources.Buttons.ViewProducts</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ProductsVariety" class="mg-content">
    <div class="container">
        <h3 class="text-center mb-5 wow fadeInRight text-uppercase" data-wow-duration="2s">@WebStore.Resources.Titles.Product</h3>
        <div class="row" id="renderProducts">
            @{
                Random rand = new Random();
                decimal count = 0.5m;
                foreach (var item in Model.ProductsList)
                {
                    <div class="col-md-3 col-sm-6 col-6 element-item wow fadeInUp" data-wow-delay="@(count.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture))s">
                        <div class="mg-product-card mb-3">
                            @if (item.intPrecioOff != "0")
                            {
                                <span class="mg-product-badge bg-success">Oferta</span>
                            }
                            <div class="mg-product-wish bg-secondary" data-toggle="tooltip" data-placement="top" title="@WebStore.Resources.Buttons.Quote" data-original-title="@WebStore.Resources.Buttons.Quote"
                                 data-code="@item.strCodigo" data-name="@item.strNombre" data-price="@item.intPrecio"
                                        data-off-percentage="@(item.intPrecioOff != "0" ? item.intPrecentOff:"")" data-off-price="@(item.intPrecioOff != "0" ? item.intPrecioOff:"")"
                                        data-quantity="1">
                                <i></i>
                            </div>
                            <a class="mg-product-thumb" href="@Url.Action("Category", "Product", new { id = item.categorySeo, idp = item.strCodigo, language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">
                                <img class="img-fuild" src="~/Content/img/products/@item.strCodigo-1.jpg"
                                     alt="Producto">

                                <div class="mg-product-card-body">
                                    @if (item.TimeOffer)
                                    {
                                        <div class="mg-product-countdown-wrapper">
                                            <div class="countdown xs" style="height:30px;" data-time="@item.Time"></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mg-rating-stars stars">
                                            @{
                                                int stars = rand.Next(5);
                                                for (var i = 1; i < 6; i++)
                                                {
                                                    <i class="fas fa-star @(i <= stars ? "filled" : "")"></i>
                                                }
                                            }
                                        </div>
                                    }
                                    <h4 class="mg-product-price">
                                        @if (item.intPrecioOff != "0")
                                        {
                                            <del>$@Html.DisplayFor(modelItem => item.intPrecio)</del><br />
                                            <span class="price">$ @Html.DisplayFor(modelItem => item.intPrecioOff)</span>
                                            <label class="off">@Html.DisplayFor(modelItem => item.intPrecentOff) DCTO</label>
                                        }
                                        else
                                        {
                                            <span class="price">$@Html.DisplayFor(modelItem => item.intPrecio)</span>
                                        }

                                    </h4>
                                    <div class="mg-product-category">
                                        Marca <span class="number">@Html.DisplayFor(modelItem => item.Brand)</span>
                                    </div>
                                    <h3 class="mg-product-title name text-capitalize">
                                        @Html.DisplayFor(modelItem => item.strNombre)
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    if (count == 2.0m)
                    {
                        count = 1;
                    }
                    else
                    {
                        count += 0.5m;
                    }
                }
            }
        </div>
    </div>
</section>


@{
    if (ViewBag.TimeOffer)
    {
        <div class="block-separator pt-5"></div>
        <div class="block-separator pt-5"></div>
        <section id="header" class="initial mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-bg-adapted mg-parallax-background"
                 style="background-image: url(/Content/img/bg/timeoffer-bg.jpg);">
            <div class="mg-box__magnet mg-box__magnet--center-left mg-nomiddle">
                <div class="mg-overlay" style="opacity: 0.8;"></div>
                <div class="mg-box__container mg-section__container container">
                    <div class="mg-box mg-box--stretched">
                        <div class="mg-box__magnet mg-box__magnet--center-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="rounded mg-bg-counter position-relative py-5">
                                        @foreach (var i in Model.ProductTime)
                                        {
                                            <div class="text-center">
                                                <h3 class="h2 text-normal mb-1 text-danger wow fadeInDown">¡OFERTA LIMITADA!</h3>
                                                <h4 class="text-bold mb-2 wow fadeInDown text-capitalize text-white">@i.strNombre</h4>
                                                <h4 class="mb-4 wow fadeInDown">
                                                    <del class="text-muted">$@i.intPrecio</del><br />
                                                    <span class="h1 text-white">$@i.intPrecioOff </span>
                                                    <span class="text-success h4">@i.intPrecentOff</span>
                                                    <span class="text-success h5">DCTO</span>
                                                </h4>
                                                <div class="mg-countdown wow fadeInLeft" data-date-time="07/30/2018 12:00:00">
                                                    <!--<div class="item">
                                                        <div class="days">00</div><span class="days_ref">Días</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="hours">00</div><span class="hours_ref">Horas</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="minutes">00</div><span class="minutes_ref">Min</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="seconds">00</div><span class="seconds_ref">Seg</span>
                                                    </div>-->
                                                    <div class="countdown" data-time="@i.Time"></div>
                                                </div><br>
                                                <a class="mg-buttons__btn btn btn-lg animated fadeInRight delay-3s btn-outline-orangered" href="@Url.Action("s", "Categories", new { id = Html.DisplayFor(modelItem => i.categorySeo), idp = Html.DisplayFor(modelItem => i.strCodigo), language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName })">@WebStore.Resources.Buttons.ViewOffers</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="d-block position-relative text-right" style="z-index:3;">
            <div class="mg-index-rota-img" id="i3d">
                <img class="img-fluid wow fadeInRight d-block w-100" src="~/Content/img/carouselOffers/@(Model.ProductTime.Select(x => x.strCodigo).FirstOrDefault()).png">
            </div>
        </div>

    }
}

<section id="staff" data-name="staff" class="container mg-content">
    <div class="block-separator pt-5"></div>
    <div class="block-separator pt-5"></div>
    <div class="block-separator pt-5"></div>
    <h2 class="h3 pb-3 text-center wow fadeInUp text-uppercase" data-wow-duration="2s">@WebStore.Resources.Titles.Staff</h2>
    <div class="row pt-1">
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="widget mg-widget-featured-products wow fadeInUp" data-wow-duration="2s">
                <h3 class="mg-widget-title">Más Vendidos</h3>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title">
                            <a href="shop-single.html">Yamin 120W</a>
                        </h4>
                        <span class="entry-meta d-inline-block text-dark" style="font-size:18px;">$287.99</span>
                        <label class="text-success">50% off</label>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/BR-FL120W-07-240W-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Proyector Stadium 240W</a></h4><span class="entry-meta">$95.99</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/dd-12410013.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Alfa ultra 20W</a></h4><span class="entry-meta">$89.70</span>
                    </div>
                </div><a class="btn btn-view-more btn-sm mb-0" href="shop-grid-ls.html">@WebStore.Resources.Buttons.ViewMore</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-3">
            <div class="widget mg-widget-featured-products wow fadeInUp" data-wow-duration="2s">
                <h3 class="mg-widget-title">Nuevos Productos</h3>
                <!-- Entry-->
                <div class="entry pb-2">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/Polarbear-Series-1.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Brownbrear 60W</a></h4><span class="entry-meta">$1,450.00</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/brownbear-Series-1.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Polarbear 120W</a></h4><span class="entry-meta">$910.00</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/golden-Frog-Series-2.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Goldenfrog 30W</a></h4><span class="entry-meta">$298.99</span>
                    </div>
                </div><a class="btn btn-view-more btn-sm mb-0" href="shop-grid-ls.html">@WebStore.Resources.Buttons.ViewMore</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-3">
            <div class="widget mg-widget-featured-products wow fadeInUp" data-wow-duration="2s">
                <h3 class="mg-widget-title">Mejores Calificados</h3>
                <!-- Entry-->
                <div class="entry pb-2">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/DL-LLDL803120-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">New Union 60W</a></h4><span class="entry-meta">$68.00</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Yaming 60W</a></h4><span class="entry-meta">$839.99</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/dd-12410029.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Bulbo led 25W</a></h4><span class="entry-meta">$28.99</span>
                    </div>
                </div><a class="btn btn-view-more btn-sm mb-0" href="shop-grid-ls.html">@WebStore.Resources.Buttons.ViewMore</a>
            </div>
        </div>
    </div>
    <div class="block-separator"></div>
</section>

<section id="brands" data-name="Content" class="mg-content bg-secondary pb-5">
    <div class="block-separator"></div>
    <div class="block-separator pt-5"></div>
    <div class="container pb-5">
        <h2 class="h3 text-center mb-5 text-uppercase">@WebStore.Resources.Titles.Brands</h2>
        <div id="carouselPopularBrands" class="owl-carousel owl-grab owl-animated-in owl-loaded" data-ride="carousel" data-interval="false">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    @foreach (var i in Model.Brands)
                    {
                        <div class="owl-item">
                            <img class="d-block m-auto" src="~/Content/img/brands/@i.StrImg" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="info" data-name="Content" class="mg-content mb-5">
    <div class="block-separator"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center mb-30 wow fadeInLeft" data-wow-delay="1s">
                <i class="fas fa-truck fa-3x img-thumbnail mx-auto w-90 h-90 pt-4 mb-3 o-75"></i>
                <h6>Despacho a domicilio</h6>
                <p class="text-muted margin-bottom-none">Despacho dentro y fuera de Santiago</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30 wow fadeInLeft" data-wow-delay="0.5s">
                <i class="far fa-check-circle fa-3x img-thumbnail mx-auto w-90 h-90 pt-4 mb-3 o-75"></i>
                <h6>Productos certificados</h6>
                <p class="text-muted margin-bottom-none">Decreto supremo N298 SEC</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30 wow fadeInRight" data-wow-delay="0.5s">
                <i class="far fa-credit-card fa-3x img-thumbnail mx-auto w-90 h-90 pt-4 mb-3 o-75"></i>
                <h6>Facilidad de pago</h6>
                <p class="text-muted margin-bottom-none">Crédito y débito</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30 wow fadeInRight" data-wow-delay="1s">
                <i class="fas fa-coins fa-3x img-thumbnail mx-auto w-90 h-90 pt-4 mb-3 o-75"></i>
                <h6>Precio mayorista</h6>
                <p class="text-muted margin-bottom-none">Consulte por nuestros precios mayoristas para obtener mejores ofertas</p>
            </div>
        </div>
    </div>
</section>

@section Linkscss{
    @Html.Raw(WebStore.Resources.Linkscss.Animate)
    @Html.Raw(WebStore.Resources.Linkscss.OwlCarousel)
    @Html.Raw(WebStore.Resources.Linkscss.OwlCarouselDefault)
    @Html.Raw(WebStore.Resources.Linkscss.Countdown)
}

@section Included{
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidate)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateMethods)
    @Html.Raw(WebStore.Resources.Scripts.JqueryValidateUnobtrousive)
    @Html.Raw(WebStore.Resources.Scripts.SweetAlert)
    @Html.Raw(WebStore.Resources.Scripts.OwlCarousel)
    @Html.Raw(WebStore.Resources.Scripts.OwlCarouselJs)
    @Html.Raw(WebStore.Resources.Scripts.WowJs)
    @Html.Raw(WebStore.Resources.Scripts.CountdownJs)
    @Html.Raw(WebStore.Resources.Scripts.NotifyJs)
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            new WOW().init();
            $.AdminJs.Countdown.activate();
        });
    </script>
}

@section MetaContent{
    <meta property="og:title" content="Electro Productos SA, Proyectos LED" />
    <meta property="og:image" content="https://eeppwebstore.ddns.net/favicon.ico" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Request.RawUrl" />
    <meta property="og:description" content="Es especialista en el rubro de importación y exportación de materiales eléctricos y productos de iluminación por más de 20 años, dirige sus actividades a las áreas de celulosa, forestal, minería, pesquera, construcción y retail." />
    <meta name="description" content="Es especialista en el rubro de importación y exportación de materiales eléctricos y productos de iluminación por más de 20 años, dirige sus actividades a las áreas de celulosa, forestal, minería, pesquera, construcción y retail.">
    <meta name="keywords" content="Iluminación, Iluminación LED, Iluminación hogar, Iluminación industrial, Paneles, Interior, Exterior, Luminaria solar, Iluminación solar, solar, Paneles solares, Ampolletas, Tubos, Iluminación urbana, Proyectores LED, Herméticas, Herméticas LED, Estanco, Señaleticas LED, Campanas LED, UFOs LED, Iluminación emergencia, Emergencia LED, Minería LED, Iluminarias para atmóferas extremas, Materiales eléctricas, Control y comando, drivers, Conductores eléctricos, Iluminación jardín" />
}