@{
    ViewBag.Title = WebStore.Resources.Titles.Home;
}

@{
    bool hola = false;
    if (hola)
    {

        <section id="header" class="initial mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-bg-adapted mg-parallax-background"
                 style="background-image: url(http://themes.rokaux.com/unishop/v3.0/template-3/img/hero-slider/main-bg.jpg);position: relative;background-attachment: scroll !important;background-size: auto;">
            <div class="mg-box__magnet mg-box__magnet--sm-padding mg-box__magnet--center-left mg-nomiddle">
                <div class="mg-overlay" style="opacity: 0.2; background-color: rgb(255,255, 255);"></div>
                <div class="mg-box__container mg-section__container container">
                    <div class="mg-box mg-box--stretched">
                        <div class="mg-box__magnet mg-box__magnet--center-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="rounded mg-bg-counter position-relative pt-5 pb-5">
                                        <div class="text-center">
                                            <h3 class="h2 text-normal mb-1 text-danger animated fadeInDown">OFERTA LIMITADA</h3>
                                            <h2 class="display-2 text-bold mb-2 animated fadeInDown">Ampolleta Led</h2>
                                            <h4 class="text-normal mb-4 animated fadeInDown">Precios de Descuentos!</h4>
                                            <div class="mg-countdown mb-3 animated fadeInLeft" data-date-time="07/30/2018 12:00:00">
                                                <div class="item">
                                                    <div class="days">00</div><span class="days_ref">Days</span>
                                                </div>
                                                <div class="item">
                                                    <div class="hours">00</div><span class="hours_ref">Hours</span>
                                                </div>
                                                <div class="item">
                                                    <div class="minutes">00</div><span class="minutes_ref">Mins</span>
                                                </div>
                                                <div class="item">
                                                    <div class="seconds">00</div><span class="seconds_ref">Secs</span>
                                                </div>
                                            </div><br><a class="mg-buttons__btn btn btn-lg animated fadeInRight delay-3s btn-danger" href="#">@WebStore.Resources.Buttons.ViewOffers</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mg-arrow mg-arrow--floating text-center">
                    <div class="mg-section__container container">
                        <a class="mg-arrow__link" href="#first-content"><i class="fas fa-angle-down fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <div class="d-block position-relative text-right" style="z-index:3;">
            <div class="mg-index-rota-img" id="i3d">
                <img class="img-fluid animated fadeInRight d-block w-100" src="~/Content/img/frame_1.png">
            </div>
        </div>

    }
    else
    {
        <section id="header">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleFade" data-slide-to="1"></li>
                    <li data-target="#carouselExampleFade" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <section id="header" class="mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-full-height mg-parallax-background"
                                 style="background-image: url(https://images.unsplash.com/photo-1497197246330-b9cafd652212?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);">
                            <div class="mg-box__magnet mg-box__magnet--sm-padding mg-box__magnet--center-left">
                                <div class="mg-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>
                                <div class="mg-box__container mg-section__container container">
                                    <div class="mg-box mg-box--stretched">
                                        <div class="mg-box__magnet mg-box__magnet--center-left">
                                            <div class="row">
                                                <div class=" col-sm-6">
                                                    <div class="mg-hero">
                                                        <h1 class="mg-hero__text animated fadeInUp delay-2s">COMPUTER SERVICE</h1>
                                                        <p class="mg-hero__subtext animated fadeInLeft delay-2.5s">
                                                            COMPUTER SERVICE - as its' name says is a multi
                                                            purpose free bootstrap theme. It can fit any type of business or project. Built with latest frameworks and
                                                            bootstrap.<br>
                                                        </p>
                                                    </div>
                                                    <div class="mg-buttons mg-buttons--left">
                                                        <a class="mg-buttons__btn btn btn-lg animated fadeInRight delay-3s btn-orangered" href="#">@WebStore.Resources.Buttons.Subs</a>
                                                        <a class="mg-buttons__btn btn btn-lg btn-outline-light animated fadeInRight delay-3.5s" href="#">@WebStore.Resources.Buttons.ReadMore</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mg-arrow mg-arrow--floating text-center">
                                    <div class="mg-section__container container">
                                        <a class="mg-arrow__link" href="#first-content"><i class="fas fa-angle-down fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="carousel-item">
                        <section id="header" class="mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-full-height mg-parallax-background"
                                 style="background-image: url(https://images2.alphacoders.com/712/712462.jpg);">
                            <div class="mg-box__magnet mg-box__magnet--sm-padding mg-box__magnet--center-left">
                                <div class="mg-overlay" style="opacity: 0.6; background-color: rgb(215, 215, 215);"></div>
                                <div class="mg-box__container mg-section__container container">
                                    <div class="mg-box mg-box--stretched">
                                        <div class="mg-box__magnet mg-box__magnet--center-left">
                                            <div class="row">
                                                <div class=" col-sm-6">
                                                    <div class="mg-hero">
                                                        <h1 class="mg-hero__text animated fadeInRight delay-5s">Carousel 2</h1>
                                                        <p class="mg-hero__subtext animated fadeInDown delay-2.5s">
                                                            COMPUTER SERVICE - as its' name says is a multi
                                                            purpose free bootstrap theme. It can fit any type of business or project. Built with latest frameworks and
                                                            bootstrap.<br>
                                                        </p>
                                                    </div>
                                                    <div class="mg-buttons mg-buttons--left">
                                                        <a class="mg-buttons__btn btn btn-lg animated fadeInUp delay-3s btn-orangered" href="#">@WebStore.Resources.Buttons.Subs</a>
                                                        <a class="mg-buttons__btn btn btn-lg btn-default animated fadeInUp delay-3.5s" href="#">@WebStore.Resources.Buttons.ReadMore</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mg-arrow mg-arrow--floating text-center">
                                    <div class="mg-section__container container">
                                        <a class="mg-arrow__link" href="#first-content"><i class="fas fa-angle-down fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="carousel-item">
                        <section id="header" class="mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-full-height mg-parallax-background"
                                 style="background-image: url(http://cdn.wallpapersafari.com/13/17/2ljxKQ.jpg);">
                            <div class="mg-box__magnet mg-box__magnet--sm-padding mg-box__magnet--center-left">
                                <div class="mg-overlay" style="opacity: 0.6; background-color: rgb(215, 215, 215);"></div>
                                <div class="mg-box__container mg-section__container container">
                                    <div class="mg-box mg-box--stretched">
                                        <div class="mg-box__magnet mg-box__magnet--center-left">
                                            <div class="row">
                                                <div class=" col-sm-6">
                                                    <div class="mg-hero">
                                                        <h1 class="mg-hero__text animated fadeInLeft delay-2s">Carousel 3</h1>
                                                        <p class="mg-hero__subtext animated fadeInUp delay-2.5s">
                                                            COMPUTER SERVICE - as its' name says is a multi
                                                            purpose free bootstrap theme. It can fit any type of business or project. Built with latest frameworks and
                                                            bootstrap.<br>
                                                        </p>
                                                    </div>
                                                    <div class="mg-buttons mg-buttons--left">
                                                        <a class="mg-buttons__btn btn btn-lg animated fadeInLeft delay-3s btn-orangered" href="#">@WebStore.Resources.Buttons.Subs</a>
                                                        <a class="mg-buttons__btn btn btn-lg btn-default animated fadeInLeft delay-3.5s" href="#">@WebStore.Resources.Buttons.ReadMore</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mg-arrow mg-arrow--floating text-center">
                                    <div class="mg-section__container container">
                                        <a class="mg-arrow__link" href="#first-content"><i class="fas fa-angle-down fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

    }
}

<section id="off" data-name="off" class="mg-content mt-5">
    <div class="block-separator"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card border-0 mg-bg-secondary mb-5">
                    <div class="card-body d-table w-100 mg-card-body">
                        <div class="d-table-cell align-middle">
                            <img class="img-fluid d-block w-100" src="https://eepp.cl/images/productos/brownbear-Series-1.jpg"
                                 alt="Image">
                        </div>
                        <div class="d-table-cell align-middle pl-2">
                            <h3 class="h6 text-thin">Tablets, Smartphones <br><strong>And more...</strong></h3>
                            <h4 class="h6 d-table w-100 text-thin">
                                <span class="d-table-cell align-bottom" style="line-height: 1.2;">UP<br>TO&nbsp;</span><span class="d-table-cell align-bottom h1 text-medium">50%</span><span class="d-table-cell align-bottom">&nbsp;off</span>
                            </h4>
                            <a class="text-decoration-none text-orangered" href="shop-grid-ls.html">@WebStore.Resources.Buttons.BuyNow&nbsp;<i class="fas fa-angle-right d-inline-block align-middle text-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card border-0 mg-bg-secondary mb-5">
                    <div class="card-body d-table w-100 mg-card-body">
                        <div class="d-table-cell align-middle">
                            <img class="img-fluid d-block w-100" src="https://eepp.cl/images/productos/tree-1.jpg"
                                 alt="Image">
                        </div>
                        <div class="d-table-cell align-middle pl-2">
                            <h3 class="h6 text-thin">DJ Phantom <span style="white-space: nowrap;">HD Video Drone</span> <br><strong>Arrives</strong></h3>
                            <h4 class="h6 d-table w-100 text-thin">
                                <span class="d-table-cell align-top text-right" style="line-height: 1.2;">From&nbsp;<br><strong>$&nbsp;</strong></span><span class="d-table-cell align-top h1 text-medium">990</span>
                            </h4>
                            <a class="text-decoration-none text-orangered" href="shop-grid-ls.html">
                                @WebStore.Resources.Buttons.BuyNow&nbsp;<i class="fas fa-angle-right d-inline-block align-middle text-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-6 col-xs-12 mx-auto">
                <div class="card border-0 mg-bg-secondary mb-5">
                    <div class="card-body d-table w-100 mg-card-body">
                        <div class="d-table-cell align-middle">
                            <img class="img-fluid d-block w-100" src="https://eepp.cl/images/productos/polarbear-1.jpg"
                                 alt="Image">
                        </div>
                        <div class="d-table-cell align-middle pl-2">
                            <h3 class="h6 text-thin">Watches, Fitness Bands <br><strong>And more...</strong></h3>
                            <h4 class="h6 d-table w-100 text-thin">
                                <span class="d-table-cell align-bottom" style="line-height: 1.2;">UP<br>TO&nbsp;</span><span class="d-table-cell align-bottom h1 text-medium">39%</span><span class="d-table-cell align-bottom">&nbsp;off</span>
                            </h4>
                            <a class="text-decoration-none text-orangered" href="shop-grid-ls.html">@WebStore.Resources.Buttons.BuyNow&nbsp;<i class="fas fa-angle-right d-inline-block align-middle text-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="resp"></div>
        </div>
    </div>
</section>

<section id="staff" data-name="staff" class="container mg-content">
    <div class="block-separator"></div>
    <h2 class="h3 pb-3 text-center">@WebStore.Resources.Titles.Staff</h2>
    <div class="row pt-1">
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="widget mg-widget-featured-products">
                <h3 class="mg-widget-title">Más Vendidos</h3>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">GoPro Hero4 Silver</a></h4><span class="entry-meta">$287.99</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/BR-FL120W-07-240W-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Puro Sound Labs BT2200</a></h4><span class="entry-meta">$95.99</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/dd-12410013.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">HP OfficeJet Pro 8710</a></h4><span class="entry-meta">$89.70</span>
                    </div>
                </div><a class="btn btn-view-more btn-sm mb-0" href="shop-grid-ls.html">@WebStore.Resources.Buttons.ViewMore</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="widget mg-widget-featured-products">
                <h3 class="mg-widget-title">Nuevos Productos</h3>
                <!-- Entry-->
                <div class="entry pb-2">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/Polarbear-Series-1.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">iPhone X 256 GB Space Gray</a></h4><span class="entry-meta">$1,450.00</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/brownbear-Series-1.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Canon EOS M50 Mirrorless Camera</a></h4><span class="entry-meta">$910.00</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/golden-Frog-Series-2.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Microsoft Xbox One S</a></h4><span class="entry-meta">$298.99</span>
                    </div>
                </div><a class="btn btn-view-more btn-sm mb-0" href="shop-grid-ls.html">@WebStore.Resources.Buttons.ViewMore</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="widget mg-widget-featured-products">
                <h3 class="mg-widget-title">Mejores Calificados</h3>
                <!-- Entry-->
                <div class="entry pb-2">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/DL-LLDL803120-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Samsung Gear 360 VR Camera</a></h4><span class="entry-meta">$68.00</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Samsung Galaxy S9+ 64 GB</a></h4><span class="entry-meta">$839.99</span>
                    </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb">
                        <a href="shop-single.html">
                            <img src="https://eepp.cl/images/productos/dd-12410029.jpg"
                                 alt="Product">
                        </a>
                    </div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html">Zeus Bluetooth Headphones</a></h4><span class="entry-meta">$28.99</span>
                    </div>
                </div><a class="btn btn-view-more btn-sm mb-0" href="shop-grid-ls.html">@WebStore.Resources.Buttons.ViewMore</a>
            </div>
        </div>
    </div>
    <div class="block-separator"></div>
</section>

<section id="top-categories" data-name="categories" class="container mg-content">
    <div class="block-separator"></div>
    <h3 class="text-center mb-3">@WebStore.Resources.Titles.TopCate</h3>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="mg-card mb-3">
                <a class="mg-card-img-tiles">
                    <div class="mg-inner">
                        <div class="mg-main-img">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/Z1-K-NEGRO.jpg">
                        </div>
                        <div class="mg-thumblist">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/JK-3002076-WEB.jpg">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/CALECO-2X.jpg">
                        </div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">@WebStore.Resources.Categories.Cables</h4>
                    <p class="text-muted">desde 50.00$ </p>
                    <a class="btn btn-outline-orangered btn-sm" href="@Url.Action("s", "Categories", new { id="Cables", language=System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Buttons.ViewProducts</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="mg-card mb-3">
                <a class="mg-card-img-tiles">
                    <div class="mg-inner">
                        <div class="mg-main-img">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/eco-17117.jpg">
                        </div>
                        <div class="mg-thumblist">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/ECO-13838-WEB.jpg">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/str-100205.jpg">
                        </div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">@WebStore.Resources.Categories.Lights</h4>
                    <p class="text-muted">desde 50.00$ </p>
                    <a class="btn btn-outline-orangered btn-sm" href="@Url.Action("s", "Categories", new { id="Cables", language=System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Buttons.ViewProducts</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="mg-card mb-3">
                <a class="mg-card-img-tiles">
                    <div class="mg-inner">
                        <div class="mg-main-img">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/SSW-07.jpg">
                        </div>
                        <div class="mg-thumblist">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/SN12705-WEB.jpg">
                            <img class="img-fuild" src="https://eepp.cl/images/productos/GW64027-WEB.jpg">
                        </div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">@WebStore.Resources.Categories.ElectricMaterials</h4>
                    <p class="text-muted">desde 50.00$ </p>
                    <a class="btn btn-outline-orangered btn-sm" href="@Url.Action("s", "Categories", new { id="Cables", language=System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Buttons.ViewProducts</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pt-3 pb-5">
        <a class="btn btn-view-more" href="@Url.Action("All", "Categories", new {language=System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">
            @WebStore.Resources.Buttons.AllCate
        </a>
    </div>
</section>

<section id="plans" data-name="" class="mg-content mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-bg-adapted mg-parallax-background mb-5"
         style="background-image: url(https://demo.gridgum.com/templates/free-themes/computer-service/assets/images/iphone-926663-1920-1920x1280-94.jpg);position: relative;background-attachment: scroll;background-size: auto;">
    <div class="mg-box__magnet " style="vertical-align:top;">
        <div class="block-separator"></div>
        <div class="mg-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
        <div class="mg-section__container container mg-pricing">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="mg-title">@WebStore.Resources.Titles.Plans</h2>
                    <h5 class="mg-description">You have Free Unlimited Updates and Premium Support on each package.</h5>
                    <div class="section-space"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="mg-card mg-card-pricing mx-auto">
                        <div class="mg-card-header-pricing mg-card-header-primary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x10</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$23.275 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-orangered btn-lg text-uppercase">@WebStore.Resources.Buttons.Order</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mg-card mg-card-pricing mx-auto">
                        <div class="mg-card-header-pricing mg-card-header-secondary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x25</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$58.187 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-orangered btn-lg text-uppercase">@WebStore.Resources.Buttons.Order</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 mx-auto">
                    <div class="mg-card mg-card-pricing mx-auto">
                        <div class="mg-card-header-pricing mg-card-header-tertiary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x30</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$66.150 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>10%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-orangered btn-lg text-uppercase">@WebStore.Resources.Buttons.Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-separator"></div>
    </div>
</section>

<section id="cate" class="mg-content mb-5">
    <div class="block-separator"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-lightbulb fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.Lights</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-bolt fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.ElectricMaterials</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-home fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.Residential</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-archive-alt fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.Accessories</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-plug fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.Plugs</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-tubes fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.ElectricTubes</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-cables fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.Cables</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 mg-cate-thumbnail py-3">
                <a href="">
                    <i class="fas fos fo-lamp-post fa-4x pb-3"></i>
                    <p>@WebStore.Resources.Categories.Posts</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="brands" data-name="Content" class="mg-content bg-secondary pb-5">
    <div class="block-separator"></div>
    <div class="container pb-5">
        <h1 class="text-center mb-5">@WebStore.Resources.Titles.Brands</h1>
        <div id="carouselPopularBrands" class="carousel slide mg-on-desktop" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselPopularBrands" data-slide-to="0" class="active"></li>
                <li data-target="#carouselPopularBrands" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/02.png" />
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/03.png" />
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/04.png" />
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/06.png" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/07.png" />
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/01.png" />
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/05.png" />
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/02.png" />
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselPopularBrands" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselPopularBrands" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div id="carouselPopularBrandsMobile" class="carousel slide mg-on-mobile" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="0" class="active"></li>
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="1" class=""></li>
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="2" class=""></li>
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="3" class=""></li>
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="4" class=""></li>
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="5" class=""></li>
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="6" class=""></li>
                <li data-target="#carouselPopularBrandsMobile" data-slide-to="7" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item text-center active">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/02.png" />
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/03.png" />
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/04.png" />
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/06.png" />
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/07.png" />
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/01.png" />
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/05.png" />
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <div class="col-md-3">
                        <img class="img-fluid" src="http://themes.rokaux.com/unishop/v3.0/template-3/img/brands/02.png" />
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselPopularBrandsMobile" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselPopularBrandsMobile" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section id="info" data-name="Content" class="mg-content mb-5">
    <div class="block-separator"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="img-fluid d-block w-90 img-thumbnail mx-auto mb-3" src="http://themes.rokaux.com/unishop/v3.0/template-1/img/services/01.png" alt="Shipping">
                <h6>Free Worldwide Shipping</h6>
                <p class="text-muted margin-bottom-none">Free shipping for all orders over $100</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="img-fluid d-block w-90 img-thumbnail mx-auto mb-3" src="http://themes.rokaux.com/unishop/v3.0/template-1/img/services/02.png" alt="Money Back">
                <h6>Money Back Guarantee</h6>
                <p class="text-muted margin-bottom-none">We return money within 30 days</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="img-fluid d-block w-90 img-thumbnail mx-auto mb-3" src="http://themes.rokaux.com/unishop/v3.0/template-1/img/services/03.png" alt="Support">
                <h6>24/7 Customer Support</h6>
                <p class="text-muted margin-bottom-none">Friendly 24/7 customer support</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30">
                <img class="img-fluid d-block w-90 img-thumbnail mx-auto mb-3" src="http://themes.rokaux.com/unishop/v3.0/template-1/img/services/04.png" alt="Payment">
                <h6>Secure Online Payment</h6>
                <p class="text-muted margin-bottom-none">We posess SSL / Secure Certificate</p>
            </div>
        </div>
    </div>
</section>

<nav id="mg-vertical-nav">
    <ul>
        <li>
            <a class="nav-link" href="#header" data-number="1">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Home</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#off" data-number="2">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Off</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#top-categories" data-number="3">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.TopCate</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#staff" data-number="4">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Outstanding</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#plans" data-number="5">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Plans</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#cate" data-number="6">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Cate</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#brands" data-number="7">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Brands</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="#info" data-number="8">
                <span class="mg-dot"></span>
                <span class="mg-label">@WebStore.Resources.VerticalRightNav.Info</span>
            </a>
        </li>
    </ul>
</nav>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#i3d").interactive_3d({
                frames: 8
            });
        });
    </script>
}