@model IEnumerable<WebStore.Models.Projects>
@{
    ViewBag.Title = WebStore.Resources.Titles.Projects;
}
<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>
                        @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="@Url.Action("Index","Home", new { language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName}, null)">@WebStore.Resources.Titles.Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>
                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>


@if (Model.Any())
{
    <div class="container padding-bottom-3x">
        @foreach (var i in Model)
        {
            <div class="blog-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="owl-carousel owl-grab owl-animated-in owl-loaded gallery-wrapper projectOwlCarousel">
                            <div class="owl-stage-outer">
                                <div class="owl-stage">
                                    <div class="owl-item">
                                        <div class="gallery-item mb-0">
                                            <a class="swipeImg" href="@i.ImgOne" data-width="900" data-height="600">
                                                <img src="@i.ImgOne" alt="Image">
                                            </a><span class="caption">Blog single post caption 1</span>
                                        </div>
                                    </div>
                                    @{
                                        if (i.ImgTwo != null)
                                        {
                                            <div class="owl-item">
                                                <div class="gallery-item mb-0">
                                                    <a class="swipeImg" href="@i.ImgTwo" data-width="900" data-height="600">
                                                        <img src="@i.ImgTwo" alt="Image">
                                                    </a><span class="caption">Blog single post caption 2</span>
                                                </div>
                                            </div>
                                        }
                                        if (i.ImgThree != null)
                                        {
                                            <div class="owl-item">
                                                <div class="gallery-item mb-0">
                                                    <a class="swipeImg" href="@i.ImgThree" data-width="900" data-height="600">
                                                        <img src="@i.ImgThree" alt="Image">
                                                    </a><span class="caption">Blog single post caption 3</span>
                                                </div>
                                            </div>
                                        }
                                        if (i.ImgFour != null)
                                        {
                                            <div class="owl-item">
                                                <div class="gallery-item mb-0">
                                                    <a class="swipeImg" href="@i.ImgFour" data-width="900" data-height="600">
                                                        <img src="@i.ImgFour" alt="Image">
                                                    </a><span class="caption">Blog single post caption 4</span>
                                                </div>
                                            </div>
                                        }
                                        if (i.ImgFive != null)
                                        {
                                            <div class="owl-item">
                                                <div class="gallery-item mb-0">
                                                    <a class="swipeImg" href="@i.ImgFive" data-width="900" data-height="600">
                                                        <img src="@i.ImgFive" alt="Image">
                                                    </a><span class="caption">Blog single post caption 5</span>
                                                </div>
                                            </div>
                                        }
                                        if (i.ImgSix != null)
                                        {
                                            <div class="owl-item">
                                                <div class="gallery-item mb-0">
                                                    <a class="swipeImg" href="@i.ImgSix" data-width="900" data-height="600">
                                                        <img src="@i.ImgSix" alt="Image">
                                                    </a><span class="caption">Blog single post caption 6</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="post-body">
                            <ul class="post-meta">
                                <li><i class="far fa-clock"></i><a href="#" class="text-capitalize">@i.Date.ToString("MMMM dd, yyyy")</a></li>
                                <li><i class="far fa-user"></i><a href="#">@i.Location</a></li>
                                <li><i class="fas fa-tag"></i><a href="#">@i.Category</a></li>
                            </ul>
                            <h3 class="post-title"><a href="blog-single-rs.html">@i.Title</a></h3>
                            <p>@i.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    @RenderPage("~/Views/Error/Http404.cshtml")
}


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

@section Linkscss{
    @Html.Raw(WebStore.Resources.Linkscss.OwlCarousel)
    @Html.Raw(WebStore.Resources.Linkscss.OwlCarouselDefault)
    @Html.Raw(WebStore.Resources.Linkscss.Photoswipe)
    @Html.Raw(WebStore.Resources.Linkscss.PhotoswipeDefault)
}

@section Included{
    @Html.Raw(WebStore.Resources.Scripts.OwlCarousel)
    @Html.Raw(WebStore.Resources.Scripts.OwlCarouselJs)
    @Html.Raw(WebStore.Resources.Scripts.PhotoSwipeJs)
    @Html.Raw(WebStore.Resources.Scripts.PhotoSwipeUiJs)
}

@section Scripts{
    <script>
        $(function () {
            $.AdminJs.carouselGallery.activate();
        })
    </script>
}
